---

title: Small Business Marketing Resources
layout: default
subtitle: Learn something new.
description: Take control of your digital marketing with these resources and guides created specially for small businesses.
permalink: /blog/
redirect_from:
- /resources/

---

<div class="hero">
	
	<div class="content text-center">
		<h1>Learn something new.</h1>
	</div>

</div>

<main id="page">

	<section class="section-default block block-linkedin">
		<h3><i class="fa fa-linkedin"></i> Use Linkedin to start growing your business</h3>
	
		<div class="pad-top grid-three-fit">
		    {% for post in site.categories["linkedin"] limit:3 %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>

	<section class="section-default">
		<h3>Tips to help you create better content.</h3>
	
		<div class="pad-top grid-three-fit">
		    {% for post in site.categories["content"] limit:3 %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>
	
	<section class="section-default block">
		<h3>Create a winning marketing strategy.</h3>
	
		<div class="pad-top grid-three-fit">
		    {% for post in site.categories["strategy"] limit:3 %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>
	
	<section class="section-default blog-feed">
		<h2 class="section-heading">All Posts</h2>
	
		{% for post in site.posts %}
			<a href="{{ post.url }}">
				<div class="blog-thumb">
					<img src="{{ post.img }}" alt="{{ post.title }}">
					
					<div class="words">
						<h4>{{ post.title }}</h4>
						<p>{{ post.subtitle }}</p>
						<div class="time-to-read"> {{ post.ttr }} Minutes of Quality Reading 👌</div>
					</div>
					
				</div>
			</a>
		{% endfor %}
	</div>
</main>