---

title: Small Business Marketing Resources
layout: default
subtitle: Learn something new.
description: Take control of your digital marketing with these resources and guides created specially for small businesses.
permalink: /blog/
img-front: /library/images/headers/header-blog-front.svg
img-mid: /library/images/headers/header-blog-mid.svg
img-back: /library/images/headers/header-blog-back.svg
redirect_from:
- /resources/

---

<div class="hero home-hero m-pad" style="text-align: left;">
	<h1>Blog</h1>
	<h3>Learn something new. Become a better you.</h3>
</div>

<div id="scene" data-relative-input="true" data-pointer-events="true">
	<img style="z-index: 2; width: 50%; margin-top: 300px" data-depth="0.50" src="{{ site.url }}{{ page.img-front }}" alt="">
	<img style="z-index: 1;" data-depth="0.30" src="{{ site.url }}{{ page.img-mid }}" alt="">
	<img style="z-index: 0" data-depth="0.10" src="{{ site.url }}{{ page.img-back }}" alt="">
</div>

<main id="page">

	<section class="block pad block-linkedin">
		<h4 class="tag">February is Linkedin Month!</h4><br>
		<h3><i class="fa fa-linkedin"></i> Use Linkedin to start growing your business</h3>
	
		<div class="pad grid-three">
		    {% for post in site.categories["linkedin"] %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>

	<div class="pad"></div>

	<section class="block pad">
		<h3>Tips to help you create better content.</h3>
	
		<div class="pad grid-three">
		    {% for post in site.categories["content"] %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>
	
	<section class="pad">
		<h3>Create a winning marketing strategy.</h3>
	
		<div class="pad grid-three">
		    {% for post in site.categories["strategy"] %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>

	<section class="block pad">
		<h3>Tricks to get your website converting.</h3>
	
		<div class="pad grid-three">
		    {% for post in site.categories["convert"] %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>
	
	<div class="blog-feed pad">
		<h2 class="section-heading">All Posts</h2>
	
		{% for post in site.posts %}
			<a href="{{ post.url }}">
				<div class="blog-thumb">
					<div class="picture">
						<img src="{{ post.img }}" alt="{{ post.title }}">
					</div>
					<div class="words">
						<h4>{{ post.title }}</h4>
						<p>{{ post.subtitle }}</p>
						<div class="time-to-read"> {{ post.ttr }} Minutes of Quality Reading 👌</div>
					</div>
					
				</div>
			</a>
		{% endfor %}
	</div>
</main>