---

title: Small Business Marketing Resources
layout: default
subtitle: Learn something new.
description: Take control of your digital marketing with these resources and guides created specially for small businesses.
permalink: /blog/
img-front: /library/images/headers/header-blog-front.svg
img-mid: /library/images/headers/header-blog-mid.svg
img-back: /library/images/headers/header-blog-back.svg
redirect_from:
- /resources/

---

<div class="hero bg-darken">
	
	<div class="content">
		<h1>Learn something new.</h1>
	</div>
	

	<div id="scene" data-relative-input="true" data-pointer-events="true">
		<img style="z-index: 2; width: 50%; margin-top: 300px" data-depth="0.50" src="{{ site.url }}{{ page.img-front }}" alt="">
		<img style="z-index: 1;" data-depth="0.30" src="{{ site.url }}{{ page.img-mid }}" alt="">
		<img style="z-index: 0" data-depth="0.10" src="{{ site.url }}{{ page.img-back }}" alt="">
	</div>

</div>

<main id="page">

	<section class="section-default block block-linkedin">
		<h3><i class="fa fa-linkedin"></i> Use Linkedin to start growing your business</h3>
	
		<div class="pad-top grid-three-fit">
		    {% for post in site.categories["linkedin"] limit:3 %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>

	<section class="section-default">
		<h3>Tips to help you create better content.</h3>
	
		<div class="pad-top grid-three-fit">
		    {% for post in site.categories["content"] limit:3 %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>
	
	<section class="section-default block">
		<h3>Create a winning marketing strategy.</h3>
	
		<div class="pad-top grid-three-fit">
		    {% for post in site.categories["strategy"] limit:3 %}
			    <div class="card">
			      	<a href="{{ site.url }}{{ post.url }}">
						<img src="{{ post.img }}" alt="{{ post.title }}">
			      		<h4>{{post.title}}</h4>
			      		<p>{{ post.subtitle }}</p>
			      	</a>
			    </div>
		    {% endfor %}
		</div>
	</section>
	
	<section class="section-default blog-feed">
		<h2 class="section-heading">All Posts</h2>
	
		{% for post in site.posts %}
			<a href="{{ post.url }}">
				<div class="blog-thumb">
					<img src="{{ post.img }}" alt="{{ post.title }}">
					
					<div class="words">
						<h4>{{ post.title }}</h4>
						<p>{{ post.subtitle }}</p>
						<div class="time-to-read"> {{ post.ttr }} Minutes of Quality Reading 👌</div>
					</div>
					
				</div>
			</a>
		{% endfor %}
	</div>
</main>