---

title: Skymouse Studios
layout: default
subtitle: Take Back Control. No nonsense.
permalink: index.html
description: Get more website visitors, convert more leads and make more money with the Team at Skymouse.
img-front: /library/images/headers/header-home-front.svg
img-mid: /library/images/headers/header-home-mid.svg
img-back: /library/images/headers/header-home-back.svg
img: /library/images/social/social-home.jpg

---

<div class="home-hero m-pad">
	<h1>Take Back Control.</h1>
	<h3>Get more visitors, convert more leads and engage your people.</h3>
</div>

<div id="scene" data-relative-input="true" data-pointer-events="true">
	<img data-depth="0.50" style="z-index: 2; margin-top: 120px;" src="{{ page.img-front }}" alt="">
	<img data-depth="0.30" style="z-index: 1; margin-top: 320px;" src="{{ page.img-mid }}" alt="">
	<img data-depth="0.10" style="z-index: 0;" src="{{ page.img-back }}" alt="">
</div>
		
<main id="page">
	
	<section class="block">
		
		<div class="section-heading">
			<h4>What you can do</h4>
			<h3>Take your digital presence to the sky.</h3>
		</div>
		
		<div class="feature-grid">
		
			<div class="content">
				<img src="/library/images/icons/icon-website.svg" alt="Facebook Ad" class="icon-size">
				<h4>Design & Develop</h4>
				<p>Create a custom online experience that your users love.</p>
			</div>
			
			<div class="content">
				<img src="/library/images/icons/icon-social.svg" alt="Facebook Ad" class="icon-size">
				<h4>Social Media Ads</h4>
				<p>Drive traffic to your blog, website or your next product.</p>
			</div>

			<div class="content">
				<img src="/library/images/icons/icon-optimize.svg" alt="Facebook Ad" class="icon-size">
				<h4>Content Strategy</h4>
				<p>Educate and engage your people all over the world.</p>
			</div>

			<div class="content">
				<img src="/library/images/icons/icon-news.svg" alt="Facebook Ad" class="icon-size">
				<h4>Email Marketing</h4>
				<p>Build a loyal following that keeps on giving.</p>
			</div>
		</div>
	</section>

	<section class="panel grid-half">
		<div class="">
			<p class="quote">
				“Skymouse is so awesome. We love working with them and it’s like dealing with actual humans.”
			</p>
			<p class="client">
				<strong>James Baxter, CEO, Exodus 90</strong>
			</p>
		</div>
		<img src="/library/images/profile/johns-profile.jpg" class="client-pic">
	</section>

	

	<section class="block">
		<div class="section-heading">
			<h4>What to expect</h4>
			<h3>Everything in plain site.</h3>
		</div>

		<div class="grid-half">
			<div class="card">
				<h4>All about it!</h4>
				<ul>
					<li>Total Transparency</li>
					<li>Resposive Communication</li>
					<li>Creative Solutions</li>
					<li>Custom Backend</li>
					<li>Original Content</li>
				</ul>
			</div>

			<div class="card">
				<h4>Not found here.</h4>
				<ul>
					<li>Secrets</li>
					<li>Phone Tag</li>
					<li>Lame Templates</li>
					<li>Confusing Interfaces</li>
					<li>Copy & Pasting</li>
				</ul>
			</div>
		</div>
		
	</section>
	
	<div class="card card--orange card-center pad">
		<h3>The Skymouse Promise</h3>
		<h4>We're in it for you.</h4>
		<a class="action-btn" href="/about.html">See what it's all about.</a>
	</div>

	{% include contact.html %}

	<section class="card">
		<div class="content">
			<img class="icon-size" src="{{ site.baseurl }}/library/images/icons/icon-across-devices.svg" alt="">
			<h2>Want to start on your own?</h2>
			<p style="padding: 10px 80px; text-align: center;">Get started with our "8 Steps to Boosting Your Brand", a free eCourse. Because we love you.</p>
		</div>
		{% include mailchimp.html %}
		<div class="pad"></div>
	</section>

</main>
		