---

title: Small Business Marketing Resources
layout: default
subtitle: Learn something new.
description: Take control of your digital marketing with these resources and guides created specially for small businesses.
permalink: /resources/
img-front: /library/images/headers/header-blog-front.svg
img-mid: /library/images/headers/header-blog-mid.svg
img-back: /library/images/headers/header-blog-back.svg

---

<div class="home-hero m-pad">
	<h1>Resources</h1>
	<h3>Learn something new. Become a better you.</h3>
</div>

<div id="scene" data-relative-input="true" data-pointer-events="true">
	<img style="z-index: 2; width: 50%; margin-top: 300px" data-depth="0.50" src="{{ site.baseurl }}{{ page.img-front }}" alt="">
	<img style="z-index: 1;" data-depth="0.30" src="{{ site.baseurl }}{{ page.img-mid }}" alt="">
	<img style="z-index: 0" data-depth="0.10" src="{{ site.baseurl }}{{ page.img-back }}" alt="">
</div>

<main id="page">

	<section class="block">
		<div class="section-heading">
			<h4>What you can learn</h4>
		</div>

		<div class="blog-grid">
		{% for type in site.series %}
			<a class="blank" href="{{ cat.url }}">
				<h5>{{ type.cat }}</h5>
				<p>{{ type.desc }}</p>
			</a>
		{% endfor %}
		</div>
	</section>
	
	<div class="blog-grid pad">
		
	{% for post in site.posts %}
		<a class="blank" href="{{ post.url }}">
			<div class="blog-post">
				<div class="picture">
					<div class="time-to-read"> {{ post.ttr }} Minutes of Quality Reading 👌</div>
					<img src="{{ post.img }}" alt="{{ post.title }}">
				</div>
				<h4>{{ post.title }}</h4>
				<p>{{ post.description }}</p>
			</div>
		</a>
	{% endfor %}
	</div>
</main>