---
title: The work we've done
menu: header
layout: default
subtitle: A look at the Skymouse Portfolio
description: Take control of your marketing. Search Optimization got you down? We've
  done that. Trying to launch a new app on your website. We've done that too.
permalink: /work/
img-front: "/library/images/headers/header-work-front.svg"
img-mid: "/library/images/headers/header-work-mid.svg"
img-back: "/library/images/headers/header-work-back.svg"
img: "/library/images/social/social-work.jpg"

---

<div class="hero bg-darken">
	<div class="content">
		<h1>The work we've done</h1>
		<h3>Purpose drives passion.</h3>
	</div>
</div>

<main id="page" class="work">

	<section class="section-default _big-idea-box">
		<div class="content">
			<h2>The types of things we do.</h2>
			<p>We're helping companies take back control of their marketing. Gone are the days of creepy SEO guys who steal your money. Plan, execute and manage your brand like a pro.</p>
		</div>
	</section>
		
	{% for casestudy in site.casestudies %}
		
	<section class="section-default grid-half block panel">
		<div class="browser-frame browser-hover-effect">
			<div class="dot"></div>
			<div class="frame frame-big">
				<img src="{{ site.url }}{{ casestudy.website-img }}" alt="website screenshot for {{ casestudy.subtitle }}">
			</div>
		</div>
		
		<div class="content">
			<h3>{{ casestudy.title }}</h3>
			<div> {% for service in casestudy.services %}
			    <div class="tag">{{service}}</div>
			  {% endfor %}
			 </div>
			
			<p>{{ casestudy.description }}</p>

			{% if casestudy.elevator-pitch-title %}
				<a class="action-btn" href="{{ casestudy.url }}">Read the Case Study</a>
			{% endif %}
			
		</div>
	</section> 
		
	{% endfor %}

	{% include section-cta-b.html %}
</main>