---

title: The Work We've Done
layout: default
subtitle: A look at the Skymouse Portfolio
description: Take control of your marketing. Search Optimization got you down? We've done that. Trying to launch a new app on your website. We've done that too.
permalink: work
img-front: /library/images/headers/header-work-front.svg
img-mid: /library/images/headers/header-work-mid.svg
img-back: /library/images/headers/header-work-back.svg
img: /library/images/social/social-work.jpg
---

<div class="home-hero m-pad">
	<h1>The work we've done</h1>
	<h3>Purpose drives passion.</h3>
</div>

<div id="scene" data-relative-input="true" data-pointer-events="true">
	<img style="z-index: 2; margin-top: 500px;" data-depth="0.50" src="{{ page.img-front }}" alt="">
	<img style="z-index: 1; margin-top: 250px;" data-depth="0.30" src="{{ page.img-mid }}" alt="">
	<img style="z-index: 0" data-depth="0.10" src="{{ page.img-back }}" alt="">
</div>

<main id="page" class="work">

	<section class="_big-idea-box">
		<div class="content">
			<h2>The types of things we do.</h2>
			<p>We're helping companies take back control of their marketing. Gone are the days of creepy SEO guys who steal your money. Plan, execute and manage your brand like a pro.</p>
		</div>
	</section>
		
	{% for casestudy in site.casestudies %}
		
	<section style="grid-gap:40px; margin-top: 50px;" class="grid-half block">
		<div class="client-site">
			<div class="dot"></div>
			<div class="frame">
				<img src="{{ site.baseurl }}{{ casestudy.website-img }}">
			</div>
		</div>
		
		<div class="content">
			<h3>{{ casestudy.title }}</h3>
			<div> {% for service in casestudy.services %}
			    <div class="tag">{{service}}</div>
			  {% endfor %}
			 </div>
			
			<p>{{ casestudy.description }}</p>

			{% if casestudy.elevator-pitch-title %}
				<a class="action-btn action-btn-gray" href="{{ casestudy.url }}">{{ casestudy.elevator-pitch-title }}</a>
			{% endif %}
			
		</div>
	</section> 
		
	{% endfor %}

	{% include cta-b.html %}
</main>