---

title: Skymouse Studios
layout: default
subtitle: A web design studio that helps you build a website you love. No nonsense.

---

	<header class="header header-home" role="banner" itemscope itemtype="http://schema.org/WPHeader">

		<div id="inner-header" class="cf">

			<a href="index.html" rel="nofollow">
			<img alt="Skymouse Studios Logo" src="{{ site.baseurl }}/library/images/skymse-logo.svg"></a>

			<div id="menu-burger">
				<i class="icon-menu"></i>
			</div>

			<nav id="mobile-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<ul class="cf">
	          		{% for link in site.links %}
			            <li>
			              <a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
			            </li>
	          		{% endfor %}
	        	</ul>
			</nav>

			<nav id="desktop-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<ul class="cf">
	          		{% for link in site.links %}
			            <li>
			              <a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
			            </li>
	          		{% endfor %}
	        	</ul>
			</nav>
		</div> 
		
		<div class="cf">
			<div class="hero d-4of7 t-all m-all">
 				<h1>{{ page.title }}</h1>
                <p class="h2">{{ page.subtitle }}</p>
			</div>
			<div id="website-graphic" class="d-3of7 t-all m-all">
				<img src="{{ site.baseurl }}library/images/webpage-graphics.svg" alt="">
			</div>

			<div class="header-buttons d-all cf">
				<a href="#" class="m-all pad-top d-1of3-pad action-btn">Build a new site. &rarr;</a>
                <a href="#" class="m-all pad-top d-1of3-pad action-btn">Maintain a current site. &rarr;</a>
                <a href="#" class="m-all pad-top d-1of3-pad last-col action-btn">Speedify your slow site. &rarr;</a>
			</div>
		</div>

		<a title="Please Scroll Down" href="#promise" rel="nofollow">
			<img alt="Down Arrow" src="{{ site.baseurl }}/library/images/down-arrow.svg">
		</a>
	</header>

<div class="wrapper">
	<div class="one"></div>
		<div id="page">	

			<div class="no-overflow">
				<section id="promise" class="parallax-section cf">
					
					<!-- PARALLAX Way Front -->
					<aside class="px-fore">
						<div class="content">

							<div class="_big-idea-box">Skymouse helps you tell stories, design better, and develop a brand people love. When people love your brand they give you money.
							</div>
							<p>Everyone and their mother can use photoshop. Anyone can build a Wordpress template. We build beautiful brands that work. There are too many “companies” that make money off mediocrity. It’s our goal to change all that.</p>
						</div>
					</aside>
					
					<!-- PARALLAX Front -->
					<div class="terrain px-base"></div>
					
					<!-- PARALLAX Back -->
					<div class="sky-cheese px-back"></div>

					<!-- PARALLAX Far Back -->
					<div class="sky px-deep"></div>
				</section>
			</div>

			<section id="process" class="bg-blue-dots cf">
				<div class="pad pad-top cf">
					
					<div class="d-all">
						<div class="_idea-box--lblue">
							<h3>What is a Brand?</h3>
							<p>A brand isn’t just a logo and custom-made coffee mugs. Show your customers that you have exactly what they need. Help them experience your brand. Here's how we can do that together:</p>
						</div>
					</div>
					
					<aside class="d-1of3 t-1of2 m-all">
					
						<div class="_sub-box">
							<img alt="Story" src="{{ site.baseurl }}/library/images/icons/icon_Story.svg">
							<h3>Story</h3>
							<p>There should be a natural flow to every customer’s journey. (Spoiler: You’re in one now.) Is your story a clear aspect of your brand? </p>
						</div>
					</aside>
					
					<aside class="d-1of3 t-1of2 m-all">
						
						<div class="_sub-box">
							<img alt="Design" src="{{ site.baseurl }}/library/images/icons/icon_Design.svg">
							<h3>Design</h3>
							<p>Design is how your customers see you. Design should be a visual representation of your story. Don’t use cover-up when you can get a face-lift.</p>
						</div>	
					</aside>
					
					<aside class="d-1of3 t-all m-all last-col">
						
						<div class="_sub-box">
							<img alt="Function" src="{{ site.baseurl }}/library/images/icons/icon_Function.svg">
							<h3>Function</h3>
							<p>Intuitive. Easy to use. Great services and amazing products mean nothing if people don’t understand your brand. Don’t be a bike with no wheels.</p>
						</div>
					</aside>	

				</div>
			</section>

			<section id="proof" class="cf">
				<div class="d-1of4 t-1of2 m-1of2">
					<aside class="motion">
						<div class="overlay">
							<h4>Motion</h4>
							
							<img alt="Motion Rocket" src="{{ site.baseurl }}/library/images/icons/motion-rocket.png">
						</div>
					</aside>
				</div>

				<div class="d-1of4 t-1of2 m-1of2">
					<aside class="audio">
						<div class="overlay">
							<h4>Audio</h4>
							
							<img alt="Audio Balloon" src="{{ site.baseurl }}/library/images/icons/audio-balloon.png">
						</div>
					</aside>
				</div>
				<div class="d-1of4 t-1of2 m-1of2">
					<aside class="design">
						<div class="overlay">
							<h4>Design</h4>
							
							<img alt="Design Blimp" src="{{ site.baseurl }}/library/images/icons/design-blimp.png">
						</div>
					</aside>
				</div>
				<div class="d-1of4 t-1of2 m-1of2">
					<aside class="development">
						<div class="overlay">
							<h4>Development</h4>
							
							<img alt="Development Jet" src="{{ site.baseurl }}/library/images/icons/development-jet.png">
						</div>
					</aside>	
				</div>
			</section>

			{% include contact.html %}

		</div>
	<div class="three"></div>
</div>
		