---

title: Skymouse Studios
layout: default
subtitle: A web design studio that helps you build a website you love. No nonsense.

---

	<header class="header home" role="banner" itemscope itemtype="http://schema.org/WPHeader">
             
        <div class="bg-image"></div>
	
		<div id="inner-header" class="cf pad">

			<a href="index.html" rel="nofollow">
			<img alt="Skymouse Studios Logo" src="/library/images/skymse-logo.svg"></a>

			<div id="menu-burger">
				<i class="icon-menu"></i>
			</div>

			<nav id="menu" class="" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<ul class="cf">
	          		{% for link in site.links %}
			            <li>
			              <a class="nav-button" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
			            </li>
	          		{% endfor %}
	        	</ul>
			</nav>
		</div> 
		
		<div class="pad">
			<div class="hero d-4of7 t-all m-all">
 				<h1>{{ page.title }}</h1>
                <p class="h2">{{ page.subtitle }}</p>
                <a href="#" class="action-btn">Build a new site.</a>
                <a href="#" class="action-btn">Maintain a current site.</a>
                <a href="#" class="action-btn">Speedify your slow site.</a>
			</div>
			<div id="website-graphic" class="d-3of7 t-all m-all">
				<img src="library/images/webpage-graphics.svg" alt="">
			</div>
		</div>

		<a title="Please Scroll Down" href="#promise" rel="nofollow">
			<img alt="Down Arrow" src="/library/images/down-arrow.svg">
		</a>
	</header>

		<div id="home">	
			<section id="promise" class="cf">
				
				<!-- PARALLAX Way Front -->
				<aside class="px-fore">
					<div class="content">
						<h2>Skymouse helps you tell stories, design better, and develop a brand people love. When people love your brand they give you money.</h2>
						<p>Everyone and their mother can use photoshop. Anyone can build a Wordpress template. We build beautiful brands that work. There are too many “companies” that make money off mediocrity. It’s our goal to change all that.</p>
					</div>
				</aside>
				
				<!-- PARALLAX Front -->
				<div class="terrain px-base"></div>
				
				<!-- PARALLAX Back -->
				<div class="sky-cheese px-back"></div>

				<!-- PARALLAX Far Back -->
				<div class="sky px-deep"></div>
			</section>

			<section id="process" class="cf">
				<div class="pad">
					<div class="top">
						<div class="brand-experience">
							<h3>What is a Brand?</h3>
							<p>A brand isn’t just a logo and custom-made coffee mugs. Show your customers that you have exactly what they need. Help them experience your brand. Here's how we can do that together:</p>
						</div>
					</div>
					
					<aside>
					<img alt="Story" src="/library/images/icons/icon_Story.svg">
						<div class="story">
							<h3>Story</h3>
							<p>There should be a natural flow to every customer’s journey. (Spoiler: You’re in one now.) Is your story a clear aspect of your brand? </p>
						</div>
					</aside>
					
					<aside>
						<img alt="Design" src="/library/images/icons/icon_Design.svg">
						<div class="design">
							<h3>Design</h3>
							<p>People go on and on about design. What is it? It's how your customers see you. Design should be a visual representation of your story (see first point). Don’t use cover-up when you can get a face-lift.</p>
						</div>	
					</aside>
					
					<aside>
						<img alt="Function" src="/library/images/icons/icon_Function.svg">
						<div class="function">
							<h3>Function</h3>
							<p>Intuitive. Easy to use. Great services and amazing products mean nothing if people don’t understand your brand. Don’t be a bike with no wheels or a website with no scroll-bar.</p>
						</div>
					</aside>			
				</div>
			</section>

			<section id="proof" class="cf">
				<aside>
					<div class="motion">
						<div class="overlay">
						<h3>Motion</h3>
						<a class="btn" title="Read the Case Study" href="http://skymse.com/wp-content/uploads/2016/11/CS-Mesa-Tec.pdf">Read the Case Study</a>
						<img alt="Motion Rocket" src="/library/images/icons/motion-rocket.png">
						</div>
					</div>

				</aside>
				
				<aside>
					<div class="audio">
					<div class="overlay">
						<h3>Audio</h3>
						<a class="btn" title="Read the Case Study" href="http://skymse.com/wp-content/uploads/2016/11/CS-RCRE.pdf">Read the Case Study</a>
						<img alt="Audio Balloon" src="/library/images/icons/audio-balloon.png">
					</div></div>
				</aside>

				<aside>
					<div class="design">
						<div class="overlay">
							<h3>Design</h3>
							<a class="btn" title="Read the Case Study" href="http://skymse.com/wp-content/uploads/2016/11/CS-Welch.pdf">Read the Case Study</a>
							<img alt="Design Blimp" src="/library/images/icons/design-blimp.png">
						</div>
					</div>
				</aside>
				
				<aside>
					<div class="development">
						<div class="overlay">
							<h3>Development</h3>
							<a class="btn" title="Read the Case Study" href="http://skymse.com/wp-content/uploads/2016/11/CS-Welch.pdf">Read the Case Study</a>
							<img alt="Development Jet" src="/library/images/icons/development-jet.png">
						</div>
					</div>	
				</aside>

				<div class="our-work">
					<a class="action-btn" title="See Our Work" href="our-work.html">Check Out Our Work&nbsp;&nbsp;></a>
				</div>
			</section>

			{% include contact.html %}

		</div>