/******************************************************************
1030px and up - Desktop Stylsheet
******************************************************************/

/*****************/
/* LAYOUT Styles */
/******************/

.wrap {
}

#page, #inner-header, #product, #Checkout, .home-hero {
	width: 1000px;
}

#page {
	margin-top: 300px;
}

/*****************/
/* HEADER */
/******************/

.home-hero {
	margin-top: 270px;
}

#scene {
	height: 700px;
}

.arrow {
	z-index: 55;
	top: 30%;
	transform: rotate(0deg);
}

#menu-burger, {
	display: none;
}

#inner-header nav {
	
	&#desktop-menu {
		display: block;
		float: left;
	}

	&#mobile-menu {
		display: none;
	}
}

img.client-site {
	right: 110px;
}