/******************************************************************
1240px NS UP - Super Large Monitor Stylesheet
******************************************************************/

.section-default {
	width: 1240px;
}

#scene {
	top: -200px;
}

footer {
	margin: 40px auto;
	max-width: 1240px;
}