/******************************************************************
1240px NS UP - Super Large Monitor Stylesheet
******************************************************************/

#page, .header {
	width: 1100px;
}

.one, .three {
	background-size: 150%;
}

.one {
	-webkit-transform: translate3d(95px, -40px, 50px);
	transform: translate3d(95px, -40px, 50px);
}

.three {
	-webkit-transform: translate3d(-95px, -40px, 50px);
	transform: translate3d(-95px, -40px, 50px);
}