/******************************************************************
1240px NS UP - Super Large Monitor Stylesheet
******************************************************************/

#page, #inner-header {
	width: 1100px;
}

.hero {
	margin: 350px 0;
}

.header-image {
	top: 0px;

	img {
		width: 100%;
	}
}
