/******************************************************************
768px and up
******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

body {
	font-size: 16px;
}

#page, #inner-header, #product, #Checkout {
	width: 700px; // set content width
	margin: 0 auto; // center content in page
	overflow: hidden; // hide anything that wants to overflow
}

#post {
	width: 700px;
	margin: 0 auto;
}

.top-logo {
	margin: 0 auto;
	text-align: center;
	width: 100px;
}

// Landing page
#blankLanding {
	section {
		width: 800px; // set content width
		margin: 0 auto; // center content in page
	}
}

/*********************
HEADER STYLES
*********************/

.header-image {
	top: 0px;
	left: 0px;

	img {
		width: 100%;
	}
}

.hero {
	margin: 550px 10px 50px 10px;
}

#scene {
	height: 500px;
}


/*********************
NAVIGATION STYLES
*********************/

#inner-header nav {
	border: 0;

	ul {
		
		li {
			display: inline-block;
		} /* end ul li */

		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {
			a {}
		}  
	} 
} /* end .nav */

/*********************
TEMPLATE OBJECTS
*********************/

._big-idea-box {
	.content {
		margin: 0 15%;
	}
}

section {
	padding: 3em;
	margin: 2em 0;
}

.card-center {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

/*********************
POSTS & CONTENT STYLES
*********************/

#proof {
	
	> div {
		margin-top: 0;
		height: 100%;
	}
}

/*********************
FOOTER STYLES
*********************/

footer {

	.footer-links, .social-links {
		margin-right: 40px;
	}

	p {
		display: inline-block;
		margin-right: 40px;
	}
}


