/******************************************************************
Stylesheet: 768px and up
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

.hero {
	margin-top: 100px;
	text-align: left;
}

/*********************
NAVIGATION STYLES
*********************/

#menu-burger {
	display: none;
}

#inner-header nav {
	border: 0;
	
	&#menu {
		position: relative;
		background: transparent;
		padding: 0;
		float: right;
		width: auto;
		-webkit-transform: translate3d(0px, 0, 0);
	    transform: translate3d(0px, 0, 0);
	}

	ul {
		
		li {
			display: inline-block;
			font-size: 1em;
		} /* end ul li */

		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {
			a {}
		}  
	} 
} /* end .nav */

/*********************
FOOTER STYLES
*********************/

.footer-links {
	ul {
		li {
			a {
				font-size: 1em;
				&:hover {}
			}
			
			ul {}
		}
	}
} /* end .footer-links */

