/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html {
	overflow-x: hidden;    
}

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
}

#logo {
	margin: 0.75em 0;

	a {
		color: $white;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


// THE MOBILE/JAVASCRIPT MENU... IT NEEDS LOVE, BEFORE IT CAN BE USED.

#inner-header {

 	nav {

		ul {
			display: block;
			text-align: left;
			
			li {
				font-size: 2em;

				a {
					padding: 1em;
					width: 90%;
				}
			}
		}

		&#menu {
	        position: fixed;
	        width: 250px;
	        height: 100%;
	        top: 0;
	        left: 0;
	        background: rgba(0, 0, 0, .7);
	        padding: 5% 1em;
	        z-index: 999;
	        -webkit-transform: translate3d(-320px, 0, 0);
	        transform: translate3d(-320px, 0, 0);
	        -webkit-transition: -webkit-transform 0.4s;
	        transition: transform 0.4s;
	        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	    }

	    &#menu.menu-shown {
	        -webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	        -webkit-transition: -webkit-transform 0.8s;
	        transition: transform 0.8s;
	        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	    }
	}
}

#menu-burger {
	display: block;
    float: right;
    position: relative;
    z-index: 202;
    color: #FFF;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px 10px;

    i {
    	font-size: 1.5em;
	}
}
    
/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    z-index: 10;
    width: 100%;
    background-color: white;
}
		
main {
	margin: 0 auto;
	float: none;
	width: 75%;
}

.hentry {
	background-color: $white;
	border-radius: 3px;
	margin-bottom: 1.5em;

	header {
		border-bottom: 1px solid $light-gray;
		padding: 1.5em;
	}

	footer {
		padding: 1.5em;
		border-top: 1px solid $light-gray;

		p {
			margin: 0;
		}
	}
}

/*********************
FOOTER STYLES
*********************/

footer {
	display: none;
}
