<section id="proposal" class="">
  
  <div class="section-heading">
    <h4>How can we help?</h4>
    <h3>We'd love to join your team.</h3>
  </div>

  <div class="card card--orange card-center">
    <h3>Take the assesment.</h3>
    <a class="action-btn" target="blank" href="https://skymouse.typeform.com/to/JFXkUQ">Begin</a>
  </div>

  <div class="content card-center text-center">
    <p>In a hurry? Just shoot us a quick <a class="drift-open-chat">chat message.</a> <br>We're here to help!</p>
  </div>
</section>







