<section id="proposal" class="block">
  
    <div class="section-heading">
      <h4>How can we help?</h4>
      <h3>We'd love to join your team.</h3>
    </div>

    <div class="grid-half">
      <div class="content">
        <img class="icon-size" src="{{ site.baseurl }}/library/images/icons/icon-social.svg" alt="">
        <p>This form shoots an email directly to one of our team. <br>We’ll get back to you at the <strong>speed of light.</strong></p>

        <p>In a hurry? Just shoot us a quick <a class="drift-open-chat">chat message.</a> <br>We're here to help!</p>
      </div>

      <script type="text/javascript">var submitted=false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='{{ site.baseurl }}/thank-you.html';}"></iframe>
     
      <form action="https://docs.google.com/forms/d/e/1FAIpQLSe9f_D8WgMOgPhPs0cOLI9a9_ZkvfsHQ2ORlOPlTPMKqOVwqQ/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">

        <label for="entry.208253124">What&#39;s Your Name? <span>*</span> <br>
          <input aria-label="What&#39;s Your Name" type="text" name="entry.208253124" required>
        </label>
         
        <label for="entry.548708536">Email: <span>*</span> <br>
          <input aria-label="email address" type="email" name="entry.548708536" required>
        </label>

        <label for="entry.1326074025">What <span>results</span> do you want at your business?<span>*</span> <br>
          <textarea  aria-label="What do you want to do?" type="text" name="entry.1326074025">
        </textarea></label>

        <input class="action-btn d-all" type="submit" value="send">
      </form>
      
    </div>
    

</section>







