<!-- // Cool Snippets -->

<!-- feature grid block -->
	<div class="feature-grid block">
		<div class="card">
			<img src="/library/images/icons/icon-facebook-ad.svg" alt="Facebook Ad" class="icon-center">
			<h3>1. Ad Campaigns</h3>
			<p>Focus your marketing efforts with enticing social media Ads that drive people to your website.</p>
			<ul>
				<li>- Increase Page Likes</li>
				<li>- Drive traffic to landing pages</li>
				<li>- Maximum exposure</li>
			</ul>
		</div>

		<div class="card">
			<img src="/library/images/icons/icon-landing-page.svg" alt="Landing Page" class="icon-center">
			<h3>2. Landing Pages</h3>
			<p>Once people are on your website, the next step is getting people engaged, buying your product or staying connected.</p>
			<ul>
				<li>- Ecommerce Development</li>
				<li>- Email Campaigns</li>
				<li>- Lead Generation</li>
			</ul>
		</div>

		<div class="card">
			<img style="height: 100px; width: auto" src="/library/images/icons/icon-money.svg" alt="Dollar Sign" class="icon-center">
			<h3>3. Happier You</h3>
			<p>We ensure your ads are enticing your website is converting, and all systems are humming along perfectly.</p>
			<ul>
				<li>- Sell more products</li>
				<li>- Grow your client base</li>
				<li>- Buy a beach house</li>
			</ul>
		</div>
	</div>

<!-- Cost calculator -->
	<div id="calc" class="card pad">
			<h3 class="text-center">Estimate your cost</h3>
			
			<div class="grid-half">
				<div>Their costs</div>
				<div>Our costs</div>
			</div>
			
			<div class="timeline">
				<div class="knob"></div>
				
				<ul class="slider">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			
				<ul class="labels">
					<li>
						<h5>Beginner</h5>
					<p>Test
					</p></li>
					<li>
						<h5>Advanced</h5>
					<p>Test
					</p></li>
					<li>
						<h5>Pro</h5>
						<p>Test</p>
					</li>
					<li>
						<h5>Elite</h5>
					<p>Test
					</p></li>
					<li>
						<h5>Corporate</h5>
					<p>Test
					</p></li>
				</ul>
			</div>
			
			

			<a class="drift-open-chat action-btn text-center">Drive web traffic that converts. ></a>
		</div>