<div class="section-default grid-half bottom-cta pad">
	<div class="pad">
		<a href="https://lab.skymousestudios.com/"><img class="pad video-example" src="/library/images/video-example.jpg" alt="video image with play button on it"></a>
	</div>
	
	<div class="content">
		<div class="tag tag-red">New Videos Every Month!</div>
		<div><h3>Feeling adventurous?<br>
			Learn how to do it all on your own.
		</h3></div><br>
		<a href="https://lab.skymousestudios.com/" class="action-btn">Join the free content library</a>
	</div>
</div>