<div class="section-default grid-half bottom-cta pad">
	<div class="pad">
		<a href="https://lab.skymousestudios.com/"><img class="pad video-example" src="/library/images/video-example.jpg" alt="video image with play button on it"></a>
	</div>
	
	<div class="content">
		<div class="tag tag-bright">New Videos Every Month!</div>
		<div class="pad"></div>
		<div><h3>Join the free content library</h3>
			<h4>Learn how to do it on your own.</h4>
		</div><br>
		<a href="https://lab.skymousestudios.com/" class="action-btn">Join Now</a>
	</div>
</div>