			<!-- Convert the Nav to a wordpress nav-->
			
			<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">

				<div id="inner-footer" class="pad cf">
					
					<div class="footer-links left">
						<p class="copyright">&copy; 2017&nbsp;Skymouse Studios, LLC</p>
						<ul>
							<li><a class="footer-btn" title="Privacy" href="/privacy">Privacy</a></li>
							<li><a class="footer-btn" title="Help" href="/help">Help</a></li>
						</ul>	
					</div>

					<a href="index.html" rel="nofollow">
						<img class="footer-logo" alt="Skymouse Studios Logo" src="/library/images/skymse-logo.svg">
					</a>
				
					<div class="footer-links right">
						<ul>
							<li><a href="https://bit.ly/skyBook" class="social-btn"> <i class="fa fa-facebook"></i>
							</a></li>
							<li><a href="https://bit.ly/skyGram" class="social-btn"> <i class="fa fa-instagram"></i>
							</a></li>
							<li><a href="https://bit.ly/skyTweets" class="social-btn"> <i class="fa fa-twitter"></i>
							</a></li>
							<li><a href="https://bit.ly/skyLinkedIn" class="social-btn"> <i class="fa fa-linkedin"></i>
							</a></li>
							<li><a href="https://bit.ly/skyGoogle" class="social-btn"> <i class="fa fa-google-plus"></i>
							</a></li>
						</ul>
					</div>

				</div><!-- END Inner Footer -->
 
			</footer><!-- END The footer -->

		</div> <!-- END The container -->			
		
		
		<script src="/library/js/min/scripts-min.js"></script>
		
	</body>
</html> <!-- end of site. -->
