			<!-- Convert the Nav to a wordpress nav-->
			
			<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">

				<div id="inner-footer" class="wrap cf">
					
					<a href="index.html" rel="nofollow">
					<img class="footer-logo" alt="Skymouse Studios Logo" src="/library/images/skymse-logo.svg"></a>
				
					<nav class="footer">
						<div class="social-media">
							<ul>
								<li><a href="https://bit.ly/skyBook" class="social-icon"> <i class="fa fa-facebook"></i>
								</a></li>
								<li><a href="https://bit.ly/skyGram" class="social-icon"> <i class="fa fa-instagram"></i>
								</a></li>
								<li><a href="https://bit.ly/skyTweets" class="social-icon"> <i class="fa fa-twitter"></i>
								</a></li>
								<li><a href="https://bit.ly/skyLinkedIn" class="social-icon"> <i class="fa fa-linkedin"></i>
								</a></li>
								<li><a href="https://bit.ly/skyGoogle" class="social-icon"> <i class="fa fa-google-plus"></i>
								</a></li>
							</ul>
						</div>
					</nav>

					<div class="info">
						<p class="source-org copyright">&copy; 2017&nbsp;Skymouse Studios, LLC</p>

						<ul>
							<li>
								<a title="Privacy" href="/index.html/privacy">Privacy</a>
							</li>
							<li>
								<a title="Help" href="/index.html/help">Help</a>
							</li>
						</ul>	
					</div>

				</div><!-- END Inner Footer -->
 
			</footer><!-- END The footer -->

		</div> <!-- END The container -->			
		
		<link rel="stylesheet" href="/library/js/libs/modernizr.custom.min.js">

		<link rel="stylesheet" href="/library/js/scripts.js">
		<link rel="stylesheet" href="/library/js/sliderScript.js">

		<link rel="stylesheet" href="https://s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo:400,700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rubik:500">
	</body>
</html> <!-- end of site. -->
