<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->

	<head>
		<meta charset="utf-8">	

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ site.title }} • {{ page.subtitle }} </title>

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>


		<!-- Icon Info -->
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#ffffff">

		<!--[if IE]>
		<link rel="shortcut icon" href="/favicon.ico">
		<![endif]-->

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="{{ site.username }}" />
		<meta name="twitter:title" content="{{ page.title }}" />
		<meta name="twitter:description" content="{{ page.description }}" />
		<meta name="twitter:image" content="{{ site.baseurl }}{{ page.img }}" />

		<!-- Meta Information -->
		<meta name="keywords" content="{{ page.keyword }}" />
		<meta property="fb:app_id" content="1829603110479968"/>
		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:description" content="{{ page.description }}">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
		<meta property="og:image" content="{{ site.baseurl }}{{ page.img }}" />

		<!--[if IE]>
			<link rel="shortcut icon" href="/favicon.ico">
		<![endif]-->
		
		<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "Organization",
			  "name": "{{ site.title }}",
			  "url": "{{ site.baseurl }}",
			  "email": "{{ site.email }}",
			  "founders": [ "John Welch", "Patrick Hanus" ],
			  "foundingDate": "2016-05-20",
			  "logo": "{{ site.baseurl }}{{ site.logo }}",
			  "sameAs": [ {% for social in site.social %}
                    "{{ social.url }}", {% endfor %}
              ]
			}
		</script>
		
		<!-- Site Styles -->
		<link rel="stylesheet" href="{{ site.baseurl }}/style.css">

		<!-- Fonts -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,500">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<!-- Parallax -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

		<!-- General JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

		<!-- Analytics -->
		{% include analyticstracking.html %}
	</head>

	<body itemscope itemtype="http://schema.org/WebPage">
		<!-- WhatsApp Image -->
      	<link itemprop="image" href="{{ site.baseurl }}/apple-touch-icon.png"> 

		<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJJ59XW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

	<div id="container">
	
	
	<header role="banner" {% if page.layout == 'post' %} style="background-color: orange;" {% endif %} itemscope itemtype="http://schema.org/WPHeader">
		
	{% if page.layout == 'landing-page' or page.title == 'Checkout' %}
		<!-- No Nav -->
	{% else %}
		<nav id="mobile-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="cf"> {% for link in site.links %}<li><a class="nav-btn" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>{% endfor %}
        	</ul>
		</nav>
	

		<div id="inner-header" class="cf">


			<a id="logo" href="{{ site.baseurl }}/index.html" rel="nofollow">
				<img alt="Skymouse Studios Logo" src="{{ site.baseurl }}/library/images/logos/skymouse-logo.svg">
				<span class="m-hide"><strong>Skymouse</strong><span style="font-weight: 100;">Studios</span></span>
			</a>

		
			<div id="menu-burger">
				<div id="line"></div>
			</div>

			<nav id="desktop-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<ul class="cf">
	          		{% for link in site.links %}
			            <li>
			              <a class="nav-btn" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
			            </li>
	          		{% endfor %}
	        	</ul>
			</nav>
			
			<ul style="text-align: right;">
				<li><a class="nav-btn orange" href="contact.html">Become a client</a></li>
			</ul>
			
		</div> 
	{% endif %}	
		
	</header>
	
	