<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->

	<head>
		<meta charset="utf-8">	

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Skymouse Studios | {% if page.title == "Skymouse Studios" %}
										Craft a business you love.
									{% else %}
										{{ page.subtitle }}
									{% endif %}</title>

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<meta name="description" content="Skymouse Studios helps you tell stories, design better, and develop a brand people love. From beautiful and speedy websites to slick motion graphics, we've gotcha covered.">
		<meta property="og:title" content="Skymouse Studios" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ site.baseurl }}" />
		<meta property="og:image" content="{{ site.baseurl }}/screenshot.png" />

		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" href="{{ site.baseurl }}/favicon.png">
		<!--[if IE]>
			<link rel="shortcut icon" href="/favicon.ico">
		<![endif]-->
		<meta name="msapplication-TileColor" content="#f01d4f">
		<meta name="msapplication-TileImage" content="{{ site.baseurl }}/library/images/win8-tile-icon.png">
            <meta name="theme-color" content="#121212">
		
		<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "Organization",
			  "name": "Skymouse Studios",
			  "url": "{{ site.baseurl }}",
			  "email": "info@skymse.com"
			  "founders": [ "John Welch", "Patrick Hanus" ],
			  "foundingDate": "2016-05-20",
			  "logo": "{{ site.baseurl }}/library/images/skymse-logo-words-100.jpg",
			  "sameAs": [
			    "https://www.instagram.com/SkymouseStudios/",
				"https://twitter.com/SkymouseStudios",
				"https://soundcloud.com/skymousestudios",
				"https://google.com/+SkymouseStudiosIndianapolis",
				"https://www.linkedin.com/company/skymouse-studios-and-entertainment",
				"https://www.facebook.com/Skymouse-Studios-1667422846889253",				
				"https://www.youtube.com/channel/UCNaO9FKEx5GiagyapRpuehQ"
			  ]
			}
		</script>

		<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
		<!-- <link rel="stylesheet" href="/library/css/ie.css"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,500">

		{% include analyticstracking.html %}
	</head>

	<body itemscope itemtype="http://schema.org/WebPage">
		<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJJ59XW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

	<div id="container">
	
	
	<header role="banner" itemscope itemtype="http://schema.org/WPHeader">
		

		<nav id="mobile-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="cf">
          		{% for link in site.links %}
		            <li>
		              <a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
		            </li>
          		{% endfor %}
        	</ul>
		</nav>
			
		<div id="inner-header" class="cf">

			<a href="index.html" rel="nofollow">
			<img id="logo" alt="Skymouse Studios Logo" src="{{ site.baseurl }}/library/images/logos/skymse-logo.svg">
		</a>

		
			<div id="menu-burger">
				<div id="line"></div>
			</div>

			<nav id="desktop-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<ul class="cf">
	          		{% for link in site.links %}
			            <li>
			              <a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
			            </li>
	          		{% endfor %}
	        	</ul>
			</nav>

		{% if page.layout == "default" %}
			<div class="hero m-margin">
				<h1>{{ page.title }}</h1>
			</div>
		

			<div class="header-image">
				<img src="{{ page.img }}" alt="">
			</div>
		
		{% else if page.layout == "post" %}

		{% else if page.title == "Skymouse Studios" %}
			<div class="home-hero m-margin">
				<h1>{{ page.title }}</h1>
				<p>{{ page.subtitle }}</p>
			</div>
		{% endif %}
	</div> 
	<div class="header-fade"></div>
</header>