<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->

	<head>
		<meta charset="utf-8">	

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ page.title }}</title>

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<meta name="description" content="Skymouse Studios helps you tell stories, design better, and develop a brand people love. From beautiful and speedy websites to slick motion graphics, we've gotcha covered.">
		<meta property="og:title" content="Skymouse Studios" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://skymse.com" />
		<meta property="og:image" content="/screenshot.png" />


		<link rel="apple-touch-icon" href="/library/images/apple-touch-icon.png">
		<link rel="icon" href="/favicon.png">
		<!--[if IE]>
			<link rel="shortcut icon" href="/favicon.ico">
		<![endif]-->
		<meta name="msapplication-TileColor" content="#f01d4f">
		<meta name="msapplication-TileImage" content="/library/images/win8-tile-icon.png">
            <meta name="theme-color" content="#121212">
		
		<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "Organization",
			  "name": "Skymouse Studios",
			  "url": "http://SkymouseStudios.com",
			  "email": "info@skymse.com"
			  "founders": [ "John Welch", "Patrick Hanus" ],
			  "foundingDate": "2016-05-20",
			  "logo": "/library/images/skymse-logo-words-100.jpg",
			  "sameAs": [
			    "https://www.instagram.com/SkymouseStudios/",
				"https://twitter.com/SkymouseStudios",
				"https://soundcloud.com/skymousestudios",
				"https://google.com/+SkymouseStudiosIndianapolis",
				"https://www.linkedin.com/company/skymouse-studios-and-entertainment",
				"https://www.facebook.com/Skymouse-Studios-1667422846889253",				
				"https://www.youtube.com/channel/UCNaO9FKEx5GiagyapRpuehQ"
			  ]
			}
		</script>

		<link rel="stylesheet" href="/library/css/style.css">
		<link rel="stylesheet" href="/library/css/ie.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>

	<body itemscope itemtype="http://schema.org/WebPage">

		<div id="container">
  
            <header class="header orange" role="banner" itemscope itemtype="http://schema.org/WPHeader">
                 
                <div class="bg-image"></div>
			
				<div id="inner-header" class="wrap cf">

					<a href="index.html" rel="nofollow">
					<img alt="Skymouse Studios Logo" src="/library/images/skymse-logo.svg"></a>

					<div id="menu-burger"><i class="icon-menu"></i></div>
					<div id="searchicon">		
					</div>

					<nav id="menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
						<ul id="menu-main-menu" class="nav menu top-nav cf">
							<li><a href="our-work.html">Our Work</a></li>
							<li><a href="pricing.html">Pricing</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="blog.html">Blog</a></li>
						</ul>
					</nav>
				</div> 

				<div class="hero">
     				<h1>{{ page.title }}</h1>
                    <p>{{ page.subtitle }}</p>
				</div>

				<a title="Please Scroll Down" href="#promise" rel="nofollow"><img alt="Down Arrow" src="/library/images/down-arrow.svg"></a>

			</header>
