<header role="banner" class="{% if page.layout != 'default'%} nav-dark {% endif %} " itemscope itemtype="http://schema.org/WPHeader">

	<nav id="mobile-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul>
	  		{% for link in site.data.menus.header %}
	            <li>
	              <a class="nav-btn" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
	            </li>
	  		{% endfor %}
		</ul>
	</nav>

	<div id="inner-header">

		<a id="logo" href="{{ site.url }}/" rel="nofollow">
			<img alt="Skymouse Studios Logo" src="{{ site.url }}/library/images/logos/skymouse-logo.svg">
			<span class="logo-words"><strong>Skymouse</strong><span style="font-weight: 100;">Studios</span></span>
		</a>

		<nav id="desktop-menu" class="desktop-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul>
	      		{% for link in site.data.menus.header %}
		            <li class="">
		              <a class="nav-btn" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
		            </li>
	      		{% endfor %}

	      		<li>
	              <a class="action-btn drift-open-chat" href="#">Chat With Us</a>
	            </li>

	             <li><a style="font-size: 2em; margin-left: 20px" href="tel:(317)643-1795" title="Skymouse Phone"><i class="fa fa-phone"></i></a></li>
	    	</ul>
		</nav>

		<div id="menu-burger" class="menu-burger">
			<div id="line"></div>
		</div>
	</div> 
	
</header>

