<!-- Eventual PHP Query for Showing all the profiles of company memebers -->
<!-- Set up past three blog posts to be queries and displayed -->
<!-- Set up a link to the author's post archive -->
<!-- Set up output for showing social media links and info -->
				
<section class="parallax profile cf">

<aside class="">
	<div class="profile-pic"><!-- profile image goes here --></div>
</aside>

<aside class="">
	<div class="content">
		<h3><!-- Person's name --></h3>
		<h4><!-- Person's title --></h4>
		<p><!-- description -->
		</p>
		<div class="social-media">
			<ul>
				<!-- link to Twitter -->
				<li><a href="#"> <i class="fa fa-twitter"></i>
				</a></li>

				<!-- link to linkedIn -->
				<li><a href="#" class="social-icon"> <i class="fa fa-linkedin"></i>
				</a></li>
				</ul>
		</div>
	</div>
</aside>
</section>			