<!-- SECTION // FEATURES -->
<section id="Features" class="section-default content-default border pad">
	<div class="grid-three-fit">
		<div class="feature">
			<h3>Easy Peazy, Lemon Squeezy</h3>
			<p class="big-text">We do all the heavy lifting, and you get to keep being the boss.</p>
			<img class="img-default" src="/library/images/operation-homepage/operation-homepage_easy-peasy-lemon-squeezey.png" alt="">
		</div>

		<div class="feature">
			<h3>The Elastic Money Guarantee</h3>
			<p class="big-text">Payment plans for any budget (plus we won't break your legs.)</p>
			<img class="img-default" src="/library/images/operation-homepage/operation-homepage_elastic-money-guarentee.png" alt="">
		</div>

		<div class="feature">
			<h3>Something for Everyone.</h3>
			<p class="big-text">From homepage makeover to one-page website, you can get it here.</p>
			<img class="img-default" src="/library/images/operation-homepage/operation-homepage_something-for-everyone.png" alt="">
		</div>
	</div>
</section> <!-- END FEATURES -->