<div id="FreeDownload" class="section-default section-inner grid-half grid-gap-default bottom-cta">
	<div class="pad">
		<img class="video-example" src="/uploads/024-website-roadmap.png" alt="video image with play button on it">
	</div>
	
	<div class="content">
		<div class="tag tag-bright">Free Guide</div>
		<div class="pad"></div>
		<div>
			<h2>What your new website should cost</h2>
		</div><br>
		<a href="/downloads/a-mostly-complete-guide-to-websites-210325.pdf" class="action-btn-secondary">Download</a>
	</div>
</div>