<section class="section-default">

	<div class="section-heading">
		<h2>A quick word from humans we've worked with</h2>
	</div>	
	
	<div class="grid-masonry">

		<div class="card card--review">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>"If you are thinking of revamping your marketing and streamlining your website's backend and its look and feel, Skymouse Studios offers a great professional team. John Welch (marketing expert) and Patrick Hanus (web developer) are knowledgeable, professional, and very personable. Skymouse Studios is our go-to provider for content creation and web development."</p>
			<p><b>Clara Rojas</b></p>
		</div>

		<div class="card card--review fill-two-cols m-hide">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>John from Skymouse Studios came highly recommended as an experienced content creator and consultant and he did not disappoint! John gave our team a crash course on how to write blog posts as a B2B company while keeping SEO in mind, and the session was packed with actionable tips and guidelines. This was a great start for us and we're looking forward to working with John and his team again in the future.</p>
			<p><b>Louise Lau</b></p>
		</div>

		<div class="card card--review">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>The team has stepped in to help our small business holistically solve marketing problems that had us at a standstill. Great flexibility to come alongside us and give a full package of what we needed, and didn't try to pile on extra costs. Great respect for what John and his system can deliver! Web traffic is up!</p>
			<p><b>Bruce O</b></p>
		</div>

		<div class="card card--review fill-two-rows m-hide">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>Our non-profit has been publishing online content and programming for years now. One of our greatest pain-points has been cycling through web developers, mostly because of poor communication and delayed timelines. Patrick and his team at Skymouse have been communicative, on-time, and helpful in making improvements that we hadn't seen. That's to say, working with Skymouse is like working with humans! And that's saying a lot in an industry that is less and less based in relationship. Recommend!</p>
			<p><b>James Baxter</b></p>
		</div>

		<div class="card card--review m-hide">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>The value, professionalism, responsiveness, and quality of the work Skymouse has done for us at the Archdiocese of Boston have all been outstanding. I'm grateful to know of them and to have had the opportunity to work with them. They were able to help us with a complicated and high-profile project with a quick turnaround time.</p>
			<p><b>Patrick Krisak</b></p>
		</div>

		<div class="card card--review">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>Working with Skymouse Studios was a wonderful experience. They not only offer professional and creative solutions, their personal touch and proactive support was unmatched. 5 stars!</p>
			<p><b>Scott Williams</b></p>
		</div>

		<div class="card card--review fill-two-rows m-hide">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>Skymouse Studios have provided me with marketing, rebranding, a new web site, LinkedIn support and general marketing strategy for the past couple of years. I endorse Skymouse Studios and their business approach to take this off business owners hands to allow them to focus on their business. Thanks Skymouse!</p>
			<p><b>Paul McCoy</b></p>
		</div>

		<div class="card card--review m-hide">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>Patrick Hanus of Skymouse Studios took on the task of redesigning our website. He was creative, patient and responsive to our needs, creating a new look that will serve us well in the future.</p>
			<p><b>Vern Calhoun</b></p>
		</div>

		<div class="card card--review m-hide">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>Their video production is outstanding! They are excellent at filming and editing as well as marketing the videos they shoot. It is very engaging.</p>
			<p><b>Fr. J David Carter</b></p>
		</div>

		<div class="card card--review fill-two-cols m-hide">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>Skymouse Studios is like a Swiss Army Knife for small businesses in the digital age. From web design to SEO, they're incredibly skilled at providing the best advice and assistance to make brands stand out in the noisy online space. If you're a small businesses looking to grow your online presence, there's no one better to turn to than Skymouse Studios.</p>
			<p><b>Mary Murphy</b></p>
		</div>

		<div class="card card--review m-hide">
			<h3 class="center-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
			<p>Patrick, and Skymouse came in to help rebrand our commercial real estate firm and build a comprehensive website that increased web traffic by 30% — we went from 1 lead a month to about 2 per week! His knowledge and understanding of what we needed was invaluable. It was great working with him!</p>
			<p><b>Tom Osborne</b></p>
		</div>

	</div>
</section>