<!-- SECTION // VIDEO HIGHLIGHT -->
<section id="VideoHighlight" class="section-default">
	<div class="section-heading heading-wide">
		<h2>Take your homepage and transform it from an ugly step-sister to Brad Pitt (He's still got it).</h2>
	</div>

	<div class="center-content">
		
		<video style="margin: 0 auto; max-width: 100%;" class="img-default" controls loading="lazy">
  			<source src="/library/video/its-just-a-homepage-web.webm" type="video/webm">
		</video>

	</div>

	<div class="section-heading heading-narrow">
		<p class="big-text">The only thing easier would be selling your business and becoming a passive-aggressive Carthusian monk.</p>
	</div>
	
</section><!-- END VIDEO HIGHLIGHT -->