<!-- SECTION // PROCESS -->
<section id="Process" class="section-default">

	<div class="section-heading">
		<h2>It's never been easier to look good.</h2>
	</div>

	<div class="grid-three-fit">
		<div class="center-content">
			<h4 class="big-number">1</h4>
			<p class="big-text">Choose your homepage.</p>
		</div>

		<div class="center-content">
			<h4 class="big-number">2</h4>
			<p class="big-text">Pick a design you love.</p>
		</div>

		<div class="center-content">
			<h4 class="big-number">3</h4>
			<p class="big-text">Look like a freaking warlord.</p>
		</div>
	</div>

</section><!-- END PROCESS -->