<!-- SECTION // VIDEO HIGHLIGHT -->
<section id="VideoHighlight" class="section-default">
	<div class="section-heading heading-wide">
		<h2>Take your homepage and transform it from an ugly step-sister to Brad Pitt (He's still got it).</h2>
	</div>

	<div class="center-content">
		<iframe id="ytplayer" class="img-default" width="100%" height="380" src="https://www.youtube-nocookie.com/embed/SiLdtNN4KEw?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<div class="section-heading heading-narrow">
		<p class="big-text">The only thing easier would be selling your business and becoming a passive-aggressive Carthusian monk.</p>
	</div>
	
</section><!-- END VIDEO HIGHLIGHT -->