<!-- SECTION // PROCESS -->
<section id="Process" class="section-default">

	<div class="section-heading heading-narrow">
		<h2>It's never been easier to get seen on the web.</h2>
	</div>

	<div class="process-steps">
		<div class="card">
			<div class="big-number"><p>1</p></div>
			<div>
				<h3>Join a video chat with John</h3>
				<p class="big-text">On your call with John, you can share what your website issues are and what you need out of your website.</p>
			</div>
		</div>

		<div class="card">
			<div class="big-number"><p>2</p></div>
			<div>
				<h3>Begin engagement</h3>
				<p class="big-text">If you’ve decided we’re right for you, all we need from you is the paid invoice and then we can get right to work!</p>
			</div>
		</div>


		<div class="card">
			<div class="big-number"><p>3</p></div>
			
			<div>
				<h3>Schedule your content call</h3>
				<p>On your call with John, you can share what your website issues are and what you need out of your website.
				</p>
			</div>
		</div>

		<div class="card">
			<div class="big-number"><p>4</p></div>
			<div>
				<h3>Your website is now under construction!</h3>
				<p class="big-text">We handle most of the work from here on out. We’ll send you weekly progress emails!</p>
			</div>
		</div>
	</div>

</section><!-- END PROCESS -->