<section id="Pricing" class="section-default section-inner section-extra-padding">
	
	<div class="section-heading heading-wide">
		<h2>One-page — that's all you need.</h2>
		<p class="big-text">For businesses of every stage.</p>
	</div>

	<div class="grid-half grid-gap-default">

		<div class="card text-center">
			<h2>Basic</h2>
			<p><div class="tag">Tier 1</div> $1000</p>
			<p class="text-center">Great for teams just starting out.</p>
			
			<div class="pad">
				<a class="default-link button" data-modal="#modalOne">See Basic Example</a>
			</div>

		</div>

		<div class="card card--special text-center">
			
			<h2>Elite</h2>
			<p><div class="tag">Tier 2</div> $2000</p>
			<p class="text-center">When one page needs to do it all.</p>
		
			<div class="pad">
				<a class="default-link button" data-modal="#modalTwo">See Elite Example</a>
			</div>

		</div>
	</div>

</section>