<section id="Tiers" class="section-default">
	
	<div class="section-heading heading-wide">
		<h2>Make your homepage stinking awesome.</h2>
		<p class="big-text">Choose a tier that's right for you.</p>
	</div>

	<div class="grid-three-fit">
		<div class="card">

			<h3>Start-up</h3>
			<p><div class="tag">Tier 1</div> $375</p>
			<p>A hyper-focused page for budding businesses.</p>
			<ul>
				<li><i class="fa fa-check-circle"></i> <strong>Up to 2 Sections</strong></li>
				<li><i class="fa fa-check-circle"></i> 2 Aspirin</li>
				<li><i class="fa fa-check-circle"></i> Design</li>
				<li><i class="fa fa-check-circle"></i> Development</li>
				<li><i class="fa fa-check-circle"></i> Performance Analytics</li>
				<li><i class="fa fa-check-circle"></i> Copywriting</li>
			</ul>
		</div>

		<div class="card card--special">
			<h3>Pro</h3>
			<p><div class="tag">Tier 2</div> $749</p>
			<p>A killer homepage that has everything a business needs, plus a few extras.</p>
			<ul>
				<li><i class="fa fa-check-circle"></i> <strong>Up to 6 Sections</strong></li>
				<li><i class="fa fa-check-circle"></i> 1 Large coffee</li>
				<li><i class="fa fa-check-circle"></i> Design</li>
				<li><i class="fa fa-check-circle"></i> Development</li>
				<li><i class="fa fa-check-circle"></i> Performance Analytics</li>
				<li><i class="fa fa-check-circle"></i> Copywriting</li>
				<li><i class="fa fa-check-circle"></i> Instant Chat</li>
			</ul>
		</div>

		<div class="card">
			
			<h3>Elite</h3>
			<p><div class="tag">Tier 3</div> $1,499</p>
			<p>Replace your whole website with a homepage to rule them all.</p>
			<ul>
				<li><i class="fa fa-check-circle"></i> <strong>Up to 12 Sections</strong></li>
				<li><i class="fa fa-check-circle"></i> A dozen homemade chocolate chip cookies.</li>
				<li><i class="fa fa-check-circle"></i> Design</li>
				<li><i class="fa fa-check-circle"></i> Development</li>
				<li><i class="fa fa-check-circle"></i> Performance Analytics</li>
				<li><i class="fa fa-check-circle"></i> Copywriting</li>
				<li><i class="fa fa-check-circle"></i> Instant Chat</li>
				<li><i class="fa fa-check-circle"></i> Custom Illustration</li>
				<li><i class="fa fa-check-circle"></i> Custom Design</li>
				<li><i class="fa fa-check-circle"></i> Training</li>
			</ul>
		</div>
	</div>

	<div class="pad center-content">
		<h3>Know what you want?</h3><br><br>
		<a href="#" class="drift-open-chat action-btn">Chat with our team</a>
	</div>

</section>