<section class="section-default" id="Tiers">
	<div class="section-heading">
		<h2>Pick a plan</h2>
		<h4>You don't have to be at the mercy of Facebook or Google Ads. <br>Create content that builds an audience YOU own.</h4>
	</div>

	<div class="grid-three">
		<div class="card">
			<h3><div class="tag">Tier 1</div> The Stargazer</h3>
			<p>$2,000/mo 3 month minimum</p>

			<ul>
				<li><i class="fa fa-check-circle"></i> 3 blogs/mo</li>
				<li><i class="fa fa-check-circle"></i> 4 marketing emails/mo</li>
				<li><i class="fa fa-check-circle"></i> 5 hrs consulting & development/mo</li>
			</ul>
		</div>

		<div class="card card--orange">
			<h3><div class="tag">Tier 2</div> The Astronomer</h3>
			<p>$5,000/mo 3 month minimum</p>

			<ul>
				<li><i class="fa fa-check-circle"></i> 6 blogs/ mo</li>
				<li><i class="fa fa-check-circle"></i> 4 marketing emails/mo</li>
				<li><i class="fa fa-check-circle"></i> 10 hrs consulting & development/mo</li>
				<li><i class="fa fa-check-circle"></i> Skymouse Website</li>
			</ul>
		</div>

		<div class="card">
			
			<h3><div class="tag">Tier 3</div> The Astronaut</h3>
			<p>$9,500/mo 3 month minimum</p>

			<ul>
				<li><i class="fa fa-check-circle"></i> 10 blogs/mo</li>
				<li><i class="fa fa-check-circle"></i> 4 marketing emails/mo</li>
				<li><i class="fa fa-check-circle"></i> Skymouse Website</li>
				<li><i class="fa fa-check-circle"></i> Website management</li>
				<li><i class="fa fa-check-circle"></i> 1 Landing page/mo</li>
				<li><i class="fa fa-check-circle"></i> LinkedIn funnel development</li>
			</ul>
		</div>
	</div>

	<div class="pad center-content">
		<h3>Know what you want?</h3><br><br>
		<a href="#" class="drift-open-chat action-btn">Chat with our team</a>
	</div>

</section>