<section class="section-default" id="Tiers">
	<div class="section-heading">
		<h2>Pick a homepage</h2>
		<h4>Make your homepage great again</h4>
	</div>

	<div class="grid-three">
		<div class="card">

			<h3>Stargazer</h3>
			<p><div class="tag">Tier 1</div> $375</p>

			<ul>
				<li><i class="fa fa-check-circle"></i> Up to 4 Sections</li>
				<li><i class="fa fa-check-circle"></i> Built with WordPress</li>
				<li><i class="fa fa-check-circle"></i> Page Loads in <2.5s*</li>
				<li><i class="fa fa-check-circle"></i> Newsletter Sign-up</li>
				<li><i class="fa fa-check-circle"></i> Design</li>
				<li><i class="fa fa-check-circle"></i> Development</li>
			</ul>
		</div>

		<div class="card card--orange">
			<h3>Pro</h3>
			<p><div class="tag">Tier 2</div> $749</p>

			<ul>
				<li><i class="fa fa-check-circle"></i> Up to 4 Sections</li>
				<li><i class="fa fa-check-circle"></i> Built with WordPress</li>
				<li><i class="fa fa-check-circle"></i> Page Loads in <2.5s*</li>
				<li><i class="fa fa-check-circle"></i> Newsletter Sign-up</li>
				<li><i class="fa fa-check-circle"></i> Design</li>
				<li><i class="fa fa-check-circle"></i> Development</li>
				<li><i class="fa fa-check-circle"></i> Performance Analytics</li>
				<li><i class="fa fa-check-circle"></i> Copywriting</li>
				<li><i class="fa fa-check-circle"></i> Instant Chat</li>
			</ul>
		</div>

		<div class="card">
			
			<h3>Elite</h3>
			<p><div class="tag">Tier 3</div> $1,499</p>

			<ul>
				<li><i class="fa fa-check-circle"></i> Up to 4 Sections</li>
				<li><i class="fa fa-check-circle"></i> Built with WordPress</li>
				<li><i class="fa fa-check-circle"></i> Page Loads in <2.5s*</li>
				<li><i class="fa fa-check-circle"></i> Newsletter Sign-up</li>
				<li><i class="fa fa-check-circle"></i> Design</li>
				<li><i class="fa fa-check-circle"></i> Development</li>
				<li><i class="fa fa-check-circle"></i> Performance Analytics</li>
				<li><i class="fa fa-check-circle"></i> Copywriting</li>
				<li><i class="fa fa-check-circle"></i> Instant Chat</li>
				<li><i class="fa fa-check-circle"></i> Custom Illustration</li>
				<li><i class="fa fa-check-circle"></i> Custom Design</li>
				<li><i class="fa fa-check-circle"></i> Training</li>
			</ul>
		</div>
	</div>

	<div class="pad center-content">
		<h3>Know what you want?</h3><br><br>
		<a href="#" class="drift-open-chat action-btn">Chat with our team</a>
	</div>

</section>