/******************************************************************
Stylesheet: Grid Stylesheet
******************************************************************/
 
// using a mixin since we can't use placeholder selectors
@mixin grid-col {
  float: left;
  padding-right: 0.75em;
}

// the last column
.last-col { 
  float: right;
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.pad {
  margin-bottom: 5%;
  margin-top: 5%;
}

.d-1of3-pad {
  @include grid-col;
  width: 30%;
  margin-right: 5%;
}

// Used on the case studies page
.grid-masonry {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr min-content;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));

  img {
    width: 100%;
  }

  img:nth-child(3) {
    grid-column: span 2;
  }
}

.grid-four {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  
  img {
    width: 100%;
  }
}

.grid-three {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  img {
    width: 100%;
  }

  .fill-both {
    grid-row: 2;
    grid-column: span 2;
  }
}

.grid-half {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.feature-grid {
  padding: 40px 20px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.clean-grid {
  grid-template-columns: 1;
  display: grid;
  grid-gap: 40px;
}

.blog-grid {
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-gap: 40px;
  grid-auto-rows: minmax(50px, auto);
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-gap: 40px;
}

.one {
  grid-column: 1;
  grid-row: 1 / 2;
}

.two { 
  grid-column: 2;
  grid-row: 1 / 3;
}

.three {
  grid-column: 1;
  grid-row: 2 / 3;
}

.grid-gap {
  grid-gap: 20px;
}

.grid-top {
  grid-column: 2 / span 2;
}

.grid-right {
  grid-row: 2;
  grid-column: 3 / span 2;
}

.grid-bottom {
  grid-row: 3;
  grid-column: 2 / span 2;
}

.grid-left {
  grid-row: 2;
  grid-column: span 2;
}

/////////////// Mobile Styles /////////////

@media (max-width: 767px) {

  .m-all {
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }

  .m-1of2 {
    @include grid-col;
    width: 50%;
  }

  .m-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .m-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .m-1of4 {
    @include grid-col;
    width: 25%;
  }

  .m-3of4 {
    @include grid-col;
    width: 75%;
  }

  .m-margin {
    margin-left: 1em;
    margin-right: 1em;
  }

  .one {
    grid-column: 1;
    grid-row: auto;
  }

  .two { 
    grid-column: 1;
  }

  .three {
    grid-column: 1;
    grid-row: auto;
  }

  .pricing-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin-top: 45px;
  }

  .feature-grid { 
    grid-gap: 40px;

    .content {
      text-align: center;
    }
  }

  .m-hide {
    display: none;
  }

  .m-pad {
    margin-left: 20px;
    margin-right: 20px;
  }
} // end mobile styles


/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {

  .t-all {
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }

  .t-1of2 {
    @include grid-col;
    width: 50%;
  }

  .t-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .t-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .t-1of4 {
    @include grid-col;
    width: 25%;
  }

  .t-3of4 {
    @include grid-col;
    width: 75%;
  }

  .t-1of5 {
    @include grid-col;
    width: 20%;
  }

  .t-2of5 {
    @include grid-col;
    width: 40%;
  }

  .t-3of5 {
    @include grid-col;
    width: 60%;
  }

  .t-4of5 {
    @include grid-col;
    width: 80%;
  }

  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 20px;
    grid-auto-rows: repeat(4, 1fr); 
  }

  .feature-grid { 
    grid-gap: 40px;
  }

} // end tablet

/* Landscape to small desktop */
@media (min-width: 1030px) {

  .d-all  {
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }

  .d-1of2 {
    @include grid-col;
    width: 50%;
  }

  .d-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .d-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .d-1of4 {
    @include grid-col;
    width: 25%;
  }

  .d-3of4 {
    @include grid-col;
    width: 75%;
  }

  .d-1of5 {
    @include grid-col;
    width: 20%;
  }

  .d-2of5 {
    @include grid-col;
    width: 40%;
  }

  .d-3of5 {
    @include grid-col;
    width: 60%;
  }

  .d-4of5 {
    @include grid-col;
    width: 80%;
  }

  .d-1of6 {
    @include grid-col;
    width: 16.6666666667%;
  }

  .d-1of7 {
    @include grid-col;
    width: 14.2857142857%;
  }

  .d-2of7 {
    @include grid-col;
    width: 28.5714286%;
  }

  .d-3of7 {
    @include grid-col;
    width: 42.8571429%;
  }

  .d-4of7 {
    @include grid-col;
    width: 57.1428572%;
  }

  .d-5of7 {
    @include grid-col;
    width: 71.4285715%;
  }

  .d-6of7 {
    @include grid-col;
    width: 85.7142857%;
  }

  .d-1of8 {
    @include grid-col;
    width: 12.5%;
  }

  .d-1of9 {
    @include grid-col;
    width: 11.1111111111%;
  }

  .d-1of10 {
    @include grid-col;
    width: 10%;
  }

  .d-1of11 {
    @include grid-col;
    width: 9.09090909091%;
  }

  .d-1of12 {
    @include grid-col;
    width: 8.33%;
  }

  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 20px;
    grid-auto-rows: repeat(4, 1fr);
  }

} // end desktop styles

.center-margin {
  margin: 0 auto;
  clear: both;
  float: none;
}

.right {
  float: right;
}

.left {
  float: left;
}