/******************************************************************
Stylesheet: Typography
******************************************************************/

// Icon Font (Menu Icons, Social Icons, Etc.)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-google-plus:before {
  content: "\ea88";
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-instagram:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-feed:before {
  content: "\ea94";
}

.icon-youtube:before {
  content: "\ea99";
}

.icon-vimeo:before {
  content: "\ea9c";
}

.icon-flickr:before {
  content: "\eaa1";
}

.icon-dribbble:before {
  content: "\eaa6";
}

.icon-github:before {
  content: "\eab5";
}

.icon-tumblr:before {
  content: "\eabb";
}

.icon-skype:before {
  content: "\eac6";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-pinterest:before {
  content: "\ead0";
}

/* --- FONT STACK ---  */

$sans-serif:        "Rubik", Helvetica, Arial, sans-serif;
$serif:             "Rubik", Cambria, Times New Roman, Times, serif;

/* some nice typographical defaults */

p, ul, li {
  font-size: 1em;
  line-height: 2em;
  font-weight: 300;
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standard css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
     -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
  color: $black;
}

/* --- HEADER STYLING --- */

h1, .h1 {
  font-size: 3.2em;
  color: $black;
  font-family: $sans-serif;
  font-weight: 800;
  margin: 0;
}

h2, .h2 {
  font-weight: 500;
  font-size: 2.5em;
  margin: 0;
  color: $black;
}

h3, .h3 {
  font-size: 1.8em;
  font-family: $sans-serif;
  color: $black;
  font-weight: 200;
  display: inline-block;
  margin: 0;
}

h4, .h4 {
  color: $black;
  font-family: $sans-serif;
  font-weight: 200;
  font-size: 20px;
  // background-color: white; What do I need this for?
  z-index: 2;
}

h5 {
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  text-align: left;
  margin-bottom: -20px;
}

code {
  background-color: $lgray;
  border-radius: 5px;
}

.subtitle {
  font-size: 1.5em;
  color: $black;
  margin: 0;
}

.dark {
  color: $gray;
}

.text-center {
  text-align: center;
}

.text-big {
  font-size: 2em;
  margin: 0;
}

ul.list {
  text-align: left;
  list-style: disc;
}

.text-gray {
  color: #dcdcdc;
}

.text-divider {
  &:before {
    content: " ";
    position: absolute;
    left: 5px;
    right: -5px;
    width: 100%;
    margin-top: 15px;
    border: 0.5px solid $lgray;
    z-index: 1;
  }
}

.big-quote {
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.3em;
}

.tag {
  background-color: $lblue;
  border-radius: $radius-sm;
  display: inline-block;
  padding: 0.2em;
  font-size: 0.8em;
  color: white;
}