/******************************************************************
Stylesheet: Typography
******************************************************************/

// Icon Font (Menu Icons, Social Icons, Etc.)
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-cr6w4i');
  src:url('../fonts/icomoon.eot?#iefix-cr6w4i') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-cr6w4i') format('woff'),
    url('../fonts/icomoon.ttf?-cr6w4i') format('truetype'),
    url('../fonts/icomoon.svg?-cr6w4i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  // Enable Ligatures
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

// Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-google-plus:before {
  content: "\ea88";
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-instagram:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-feed:before {
  content: "\ea94";
}

.icon-youtube:before {
  content: "\ea99";
}

.icon-vimeo:before {
  content: "\ea9c";
}

.icon-flickr:before {
  content: "\eaa1";
}

.icon-dribbble:before {
  content: "\eaa6";
}

.icon-github:before {
  content: "\eab5";
}

.icon-tumblr:before {
  content: "\eabb";
}

.icon-skype:before {
  content: "\eac6";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-pinterest:before {
  content: "\ead0";
}

/* --- FONT STACK ---  */

$sans-serif:        "Rubik", Helvetica, Arial, sans-serif;
$serif:             "Arvo", Cambria, Times New Roman, Times, serif;

/* some nice typographical defaults */

p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standard css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
     -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
  color: white;
}

/* --- HEADER STYLING --- */

h1, .h1 {
  font-size: 3.53em;
  color: white;
  font-family: $sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 4px 3px 0 $gray, 9px 8px 0 rgba(0,0,0,0.15);
  margin: 0;
}

h2, .h2 {
  padding-bottom: 10px;
  font-size: 2.5em;

  &--border {
    border-bottom: 13px solid white;
  }
}

h3, .h3 {
  font-size: 2em;
  font-family: $sans-serif;
  color: white;
  font-weight: 800;
  border-bottom: 13px solid white;
  display: inline-block;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.15);
}

h4, .h4 {
  color: white;
  font-family: $serif;
  font-weight: 200;
  font-size: 20px;
}







