/******************************************************************
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/******************************************************************
Light and Dark Modes
******************************************************************/

$lemon:             #FEF7BE;
$raspberry:         #EB5967;
$blackberry:        #22205F;
$blackberry-high:   lighten( $blackberry, 10% );
$blackberry-low:    darken( $blackberry, 10% );

:root {
    color-scheme: light dark;
     --site-width: auto;
     --columnCountMax: 2;
}

.light-mode {
    --main-text-color:        #2A3035;
    --main-bg-color:          #fff;
    --main-midground-color:   #{$blackberry-low};
    --main-highground-color:  #{$lemon};
    --main-highlight-color:   #{$raspberry};
    --alt-highlight-color:    #{$blackberry-high}; 
    --main-text-light-color:  #{$lemon};
}

.dark-mode {
    --main-text-color:        #f3f3f3; 
    --main-bg-color:          #{$blackberry-low};
    --main-midground-color:   #{$blackberry};
    --main-highlight-color:   #{$raspberry};
    --main-text-light-color:  #{$lemon};
    --main-highground-color:  #{$blackberry-high};
    --alt-highlight-color:    #{$blackberry};
}


/* --- FONT STACK ---  */

$sans-serif:        "Titillium Web", Helvetica, Arial, sans-serif;
$extra-bold:        900;
$bold:              700;
$regular:           400;
$light:             300;


$tan:               #eceee5;
$red:               #EB5867;
$green:             #7dd667;

$link-hover:        #fff;
$link-color:        darken(#fff, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

/*********************
SKYMSE Colors
*********************/

$black:             #4A4A4A;
$white:             #fff;

$gray:              #817F82;
$orange:            #F99C1C;
$lblue:             #70C1DB;
$dblue:             #5c9ead;
$cheese:            #FCD0A1;
$midnight:          #434d5a;
$space:             #2A3035;

$lgray:             #EEEEEE;
$ygray:             #F7F7F1;

$light-gray:        #f8f9fa;

$radius:            15px;
$radius-sm:         5px;
$shadow:            -25.1px 32.5px 75px -25px rgba(30, 30, 63, 0.31), -16.2px 37.5px 35px -27.5px rgba(0, 0, 0, 0.21);