/******************************************************************
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/******************************************************************
Light and Dark Modes
******************************************************************/

:root {
    color-scheme: light dark;
     --site-width: auto;
     --columnCountMax: 2;
}

@media (prefers-color-scheme: light) {
	:root {
	    --main-text-color: #2A3035;       // Space
	    --main-bg-color: #ffffff; 		  // White
	    --main-midground-color: #EEEEEE;  // Light Gray
	    --main-highground-color: #F7F7F1; // Yellow Gray
	    --main-highlight-color: #5c9ead;  // Orange
	    --alt-highlight-color: #70C1DB;
	    --main-text-light-color: #ffffff; // Text color for dark backgrounds
	}
}

@media (prefers-color-scheme: dark) {
	:root {
	    --main-text-color: #ffffff; 	   // White
	    --main-bg-color: #2A3035;          // Space
	    --main-midground-color: #434d5a;   // Midnight
	    --main-highlight-color: #5c9ead;   // DBlue
	    --main-text-light-color: #5C6C80;  // NEW! Blue Gray
	    --main-highground-color: #525F70;
	}
}

/* --- FONT STACK ---  */

$sans-serif:        "Titillium Web", Helvetica, Arial, sans-serif;
$serif:             "Titillium Web", Cambria, Times New Roman, Times, serif;


$tan:               #eceee5;
$red:				#EB5867;
$green:             #7dd667;

$link-hover:        #fff;
$link-color:        darken(#fff, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

/*********************
SKYMSE Colors
*********************/

$black:             #4A4A4A;
$white:             #fff;

$gray: 			    #817F82;
$orange:			#F99C1C;
$lblue: 			#70C1DB;
$dblue: 			#5c9ead;
$cheese: 			#FCD0A1;
$midnight:			#434d5a;
$space:				#2A3035;

$lgray:				#EEEEEE;
$ygray: 			#F7F7F1;

$light-gray:        #f8f9fa;

$radius:			10px;
$radius-sm:			5px;
$shadow: 			-25.1px 32.5px 75px -25px rgba(30, 30, 63, 0.31), -16.2px 37.5px 35px -27.5px rgba(0, 0, 0, 0.21);

