/************************
Stylesheet: Button Styles
*********************/
 
%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  color: var(--main-text-light-color);
  font-weight: 600;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: $radius-sm;
  cursor: pointer;
  transition: .5s;

  // hovering on the btn
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    transition: .5s;
    box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.5);
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button
 
%opacity {
  transition: .8s ease;

  div.overlay { 
    height: 100%;   
    background:rgba(0,0,0,.10);
    text-align: center;
    opacity:50;
    -webkit-transition: opacity .8s ease;
    transition: .8s ease;
    border-radius: $radius;
  } 

  &:hover div.overlay {
    background:rgba(0,0,0,.30);
    opacity: 1;   
    -webkit-transition: opacity .8s ease;
    transition: .8s ease;
  }
}

.action-btn {
  position: relative;
  padding: 13px;
  color: $white;
  background-color: var(--main-highlight-color);
  box-shadow: 1px 5px 10px rgba(5,5,5,.2);
  transition: 0.25s;
  text-decoration: none;
  text-align: center;
  border-radius: $radius-sm;
  border: none;
  text-transform: capitalize;
  z-index: 99;
  font-weight: 600;
  display: inline-block; // I added this so the button stands on it's own

  &:hover {
    box-shadow: 1px 10px 10px rgba(5,5,5,.2);
    transition: 0.25s;
    color: white;
    background-color: lighten($orange, 7%);
  }
}

.action-btn-gray {
  background-color: $gray;

  &:hover {
    box-shadow: 1px 10px 10px rgba(5,5,5,.2);
    transition: 0.25s;
    color: white;
    background-color: lighten($gray, 7%);
  }
}

.nav-btn {
  @extend %btn;
  margin: 0px;
}

.nav-btn-dark {
  color: var(--main-text-color);
}

.orange-btn {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 20px -10px #a2a2a2;
  transition: 0.5s;
  border: double 4px transparent;
  background-color: var(--main-highlight-color);
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ef6500,#feb13e);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.skylink-btn {
  background-color: transparent;
  border: 3px solid var(--main-highlight-color);
  color: var(--main-text-color);
  display: block;
  max-width: 300px;
  margin: 20px auto;
}