/* ............................................ */
/* ...............PAGE: ABOUT ...............*/
/* ............................................ */


#page.about {

	section {
		position: relative;
	    height: 500px;
	    height: auto;
	    -webkit-transform-style: preserve-3d;
	    transform-style: preserve-3d;
	    -webkit-transition: -webkit-transform 0.5s;
    	transition: transform 0.5s;
    	width: 100%;
    	border-top: 20px solid $lblue;

    	@media (max-width: 768px) {
    		height: auto;
    	}


		ul {
		    color: white;
		}

		.content {
			margin-top: 50px;

			@media (max-width: 768px) {
    				margin: 10px;
    				font-size: 1em;
    			}
		}

		&.past {
			background-color: $orange;
			background-image: url(/library/images/past-picture.png);
		 	background-position: center right;
		 	background-repeat: no-repeat;
		 	background-size: contain;

		 	@media (max-width: 768px) {
    				background-image: url();
    			}
		}

		&.present {
			background-image: url(/library/images/skymse-logo.svg);
		 	background-position: center left;
		 	background-repeat: no-repeat;
		 	background-size: 40%;

		 	@media (max-width: 768px) {
    				background-image: url();
    			}
		}

		&.future {
			background-color: $gray;
			background-image: url(/library/images/future-bg.png);
		 	background-position: center right;
		 	background-repeat: no-repeat;
		 	background-size: contain;

		 	@media (max-width: 768px) {
    				background-image: url();
    			}
		}

		.right {
			float: right;
		}

		.left {
			float: left;
		}
	}

	.bio {
		padding: 20px;
	}
}