/* ............................................ */
/* ...............PAGE: ABOUT ...............*/
/* ............................................ */


#page {

	section {
		position: relative;
		border-top: 20px solid $lblue;
		height: auto;
		color: $gray;

		h3 {
			margin: 0; // remove margin when it's in a section
		}
	}

	.parallax-section {
		position: relative;
	    height: 500px;
	    height: 100vh;
	    	// these are for the parallaxing effect
		    -webkit-transform-style: preserve-3d;
		    transform-style: preserve-3d;
		    -webkit-transition: -webkit-transform 0.5s;
	    	transition: transform 0.5s;
    	width: 100%;
    	border-top: 20px solid $lblue;

		aside.img {
			padding-left: 20px;
		}

		h3 {
			margin: 0; // remove margin when it's in a section
		}
	}
}

// Image that show's the client's website
.client-site {
	margin-top: 100px;
}

// box for explaining details about a service
.info-box {
	padding: 20px;
	border-radius: 5px;
	margin-top: 10px;
	background-color: rgba(190,190,190,.5);
	box-shadow: 6px 6px 10px 2px rgba(3,3,3,.1);

	::hover {
		box-shadow: 7px 7px 20px 5px rgba(3,3,3,.1);
	}

	h4 {
		margin: 0;
		vertical-align: top;
	}
}

.service-img {
	overflow: hidden;
	height: 300px;
	margin-right: 8%;
	margin-top: 20px;
}