/* ............................................ */
/* ...............PAGE: OUR WORK ...............*/
/* ............................................ */

#page.our-work {

	section.parallax  {

		position: relative;
	    height: 500px;
	    height: 90vh;
    	width: 100%;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: left top;
    	border-top: 20px solid $lblue;

    	&.motion {
			background-image: url(../images/motion/motion-bg-sm.png);
		}

		&.audio {
			background-image: url(../images/motion/audio-bg-sm.png);
		}

		&.dev {
			background-image: url(../images/motion/dev-bg-sm.png);
		}

		&.design {
			background-image: url(../images/motion/design-bg-sm.png);
		}

	    // .px-fore {
		// 	@extend %px;
		// -webkit-transform: translateZ(20px) scale(.9);
		// transform: translateZ(20px) scale(.9);
		// z-index: 1;
		// }

		// .px-base {
		// 	@extend %px;
		// -webkit-transform: translateZ(41px) scale(.9);
		// transform: translateZ(41px) scale(.9);
		// z-index: 0;
		// }

		// .px-mid {
		// 	@extend %px;
		// -webkit-transform: translateZ(-10px) scale(1.4);
		// transform: translateZ(-10px) scale(1.4);
		// z-index: -1;
		// }

		// .px-back {
		// 	@extend %px;
		// -webkit-transform: translateZ(-80px) scale(1.4);
		// transform: translateZ(-80px) scale(1.4);
		// z-index: -2;
		// }

		// .px-deep {
		// @extend %px;
		// -webkit-transform: translateZ(-100px) scale(1.7);
		// transform: translateZ(-100px) scale(1.7);
		// z-index: -3;
		// }

		aside {
			z-index: 10;
			width: 100%;
			
			.content {
	    		width: 35%;
				z-index: 10;
				margin-top: 5%;
				margin-left: 7%;
	
				h3 {
					font-size: 3em;
				}

				p {
					font-size:1.5em;

					@media (max-width: 768px) {
    					font-size: 1em;
    				}
				}

				img.left-open-arrow {
					width: 15px;
					display: inline-block;
					margin-right: 10px;
				}

				&.right {
					text-align: right;
					margin-right: 7%;
					float: right;

					img {
						width: 15px;
						display: inline-block;
						margin-left: 10px;
					}
				}
    		}
    	}

		// div.rocks {
		// 	background-image: url(../images/motion/px-motion-1.png);
		// 	background-position: bottom right;
		// 	background-repeat: no-repeat;
		// 	background-size: contain;
		// 	height: 70%;
		// 	width: 73%;
		// 	overflow: hidden;
		// 	right: 30%;
		// 	top: auto;
		// 	left: auto;
		// 	bottom: -100;
	 //    }

		// div.rocket {
		// 	background-image: url(../images/motion/px-motion-2.png);
		// 	background-repeat: no-repeat;
		// 	background-size: contain;
		// 	width: 1000px;
		// 	position: absolute;
		// 	right: 150px; 
		// 	top: 200px; 
		// 	left: auto; 
		// 	bottom: 0;
			
		// }

	 //    div.ground {
		// 	background-image: url(../images/motion/px-motion-3.png);
		// 	background-position: bottom center;
		// 	background-repeat: no-repeat;
		// 	background-size: contain;
		// 	overflow: hidden;
		// }

	 //    div.stars {
		// 	background-image: url(../images/motion/px-motion-4.png);
		// 	background-position: center;
		// 	background-size: cover;
		// 	background-repeat: no-repeat;
		// 	overflow: hidden;	
	 //    }
	}

}

#page.our-work section {

	h4 {
		letter-spacing: 1em;
	}

	#openButtonMotion {
		display: block;
		cursor: pointer;
		color: #efefef;
		text-decoration: underline;

		&:hover {
			color: white;
		}
	}

	#openButtonAudio {
		display: block;
		cursor: pointer;
		color: #efefef;
		text-decoration: underline;

		&:hover {
			color: white;
		}
	}

	#openButtonDev {
		display: block;
		cursor: pointer;
		color: #efefef;
		text-decoration: underline;

		&:hover {
			color: white;
		}
	}

	#openButtonDesign {
		display: block;
		cursor: pointer;
		color: #efefef;
		text-decoration: underline;

		&:hover {
			color: white;
		}
	}

	#work-type {
		position: fixed;
		top:0;
		left: 0;
		height: 100%;
		background-color: $lblue;
		opacity: .5;
		-webkit-transform: translate3d(-920px, 0, 0);
        transform: translate3d(-920px, 0, 0);
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

		&.active {
			-webkit-transform: translate3d(0, 0, 0);
        	transform: translate3d(0, 0, 0);
       		-webkit-transition: -webkit-transform 0.8s;
        	transition: transform 0.8s;
        	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}


		div.project {
			display: inline-block;
			width:50%;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	#slideSectionMotion {
		height: 100%;
	    width: 100%;
	    position: absolute;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    background-color: $lblue;
	    transition: 0.5s ease-in-out;

	    // MOTION

		#Franciscan {
		    background-image: url(../images/our-work/motion-fus.jpg);
		}

		#MesaTec {
		    background-image: url(../images/our-work/motion-mesa.jpg);
		}

		#Resource {
		    background-image: url(../images/our-work/motion-rcre.jpg);
		}

		#Scan {
		    background-image: url(../images/our-work/motion-scan.jpg);
		}
	}

	#slideSectionAudio {
		height: 100%;
	    width: 100%;
	    position: absolute;
	    z-index: 1;
	    right: 0;
	    top: 0;
	    background-color: $orange;
	    background-image: url("../images/skymouse_banner.svg");
		background-position: center;
		background-size: cover;
	    transition: 0.5s ease-in-out;

	    // AUDIO
		#MesaTec {
		    background-image: url(../images/our-work/audio-mesa.jpg);
		}

		#Resource {
		    background-image: url(../images/our-work/audio-rcre.jpg);
		}
	}

	#slideSectionDev {
		height: 100%;
	    width: 100%;
	    position: absolute;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    background-color: $gray;
	    background-image: url("../images/skymouse_banner.svg");
		background-position: center;
		background-size: cover;
	    transition: 0.5s ease-in-out;

	    #Man {
	    	background-image: url(../images/our-work/dev-man.jpg);
		}

		#Welch {
		    background-image: url(../images/our-work/dev-welch.jpg);
		}
	}

	#slideSectionDesign {
		height: 100%;
	    width: 100%;
	    position: absolute;
	    z-index: 1;
	    right: 0;
	    top: 0;
	    background-color: $cheese;
	    background-image: url("../images/skymouse_banner.svg");
		background-position: center;
		background-size: cover;
	    transition: 0.5s ease-in-out;

		// DESIGN

		#Welch {
		    background-image: url(../images/our-work/design-welch.jpg);
		}

		#WillysFarm {
		    background-image: url(../images/our-work/design-wf.jpg);
		}

	}

		img.right-close-arrow {
	    	width: 40px;
	    	top: 20px;
	    	right: 20px;
	    	position: absolute;
	    	z-index: 999;
	    }

	    img.left-close-arrow {
	    	width: 40px;
	    	top: 20px;
	    	left: 20px;
	    	position: absolute;
	    	z-index: 999;
	    }

	    .project {
	    	position: relative;
		    text-align: center;
		    color: white;
		    float: left;
		    width: 50%;
		    height: 50%;
		    box-sizing: border-box;
		    transition: 0.5s ease-in-out;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;

		    .innerProject {
		    	position: absolute;
		    	margin-left: 25px;
		    	margin-bottom: 25px;
		    	bottom: 0;
			    overflow-x: hidden;
			    width: 80%;
			    text-align: left;
			    vertical-align: bottom;

			    h3 {
			    	font-size: 1.2em;
			    	margin-bottom: 5px;
			    }

			    p {
			    	margin: 0;
			    }
			}
		}

	.overlayLeftOff {
	    opacity: 0;
	    margin-left: -110%;
	}

	.overlayRightOff {
	    opacity: 0;
	    margin-right: -110%;
	}

	.overlayLeftActive {
	    margin-left: 0;
	    opacity: 1;
	}

	.overlayRightActive {
	    margin-right: 0;
	    opacity: 1;
	}

	.overlay-content {
	    position: relative;
	    width: 100%;
	    height: 100%;
	    text-align: center;
    }



	/* Project Square Styles */

}

