{% include header.html %}
{% include nav.html %}

<div id="page">

<section class="section-default">
	
	<h1>{{ page.title }}</h1>

	<div class="post-info-wrapper cf">
		<div class="tag tag-orange">Case Study</div>
	  {% for service in page.services %}
	    <div class="tag">{{service}}</div>
	  {% endfor %}
		
	</div>

	<p class="pad card-center">{{ page.description }}</p>

	<img class="blog-header" src="{{ page.img }}" alt="">
</section>
   
<!-- Header Image  -->


<!-- # Introduction -->
	<section class="section-default grid-half">
		<div>
			<h2>{{page.elevator-pitch-title}}</h2>
			<p class="quote">
				{{page.elevator-pitch}}
			</p>
		</div>

		<div>
			{{ content }}
		</div>
	</section>

<!-- # Highlight 1 -->
	<section class="section-default grid-three-fit">
		
		<!-- 1/3 Space -->
		<aside style="padding: 20px">
			<h2>{{ page.A-title }}</h2>
			<h3>{{ page.A-subtitle }}</h3>
			<p>{{ page.A-p }}</p>
		</aside>

		<!-- 2/3 Space -->
		<div class="mobile-and-desktop">
			<img class="border" src="{{ page.A-image-mobile }}" alt="">
			<img class="border" src="{{ page.A-image-desktop }}" alt="">
		</div>

	</section>

<!-- # Highlight 2 -->
	<section class="section-default grid-three-fit">
		<!-- 2/3 Space -->
		<div>
			<img class="border" src="{{ page.B-image-desktop }}" alt="">
		</div>
		
		<!-- 1/3 Space -->
		<aside>
			<h2>{{ page.B-title }}</h2>
			<h3>{{ page.B-subtitle }}</h3>
			<p>{{ page.B-p }}</p>
		</aside>

	</section>

<!-- # Designer Quote -->
	<!-- <section class="centered-quote">
		<div>
			<p>{{ page.designer-quote }}</p>

			<img src="{{ page.designer-picture }}" alt="">
			<h4>{{ page.designer-name }}</h4>
			<p>{{ page.designer-title }}</p>
		</div>
	</section> -->

<!-- # Highlight 2 -->
	<section class="section-default">
		<img class="border full-width" src="{{ page.sales-image }}" alt="">
	</section>

<!-- # Audience -->
	<section class="section-default grid-three-fit">
		
		<!-- 1/3 Space -->
		<aside>
			<h2>{{ page.audience-title }}</h2>
			<h3>{{ page.audience-subtitle }}</h3>
			<p>{{ page.audience-p }}</p>
		</aside>

		<!-- 2/3 Space -->
		<div>
			<img class="border full-width" src="{{ page.audience-image-desktop }}" alt="">
		</div>

	</section>

<!-- # Header Artwork -->
	<section class="section-default grid-three-fit">
		<!-- 1/3 Space -->
		<aside>
			<h2>{{ page.artwork-title }}</h2>
			<h3>{{ page.artwork-subtitle }}</h3>
			<p>{{ page.artwork-p }}</p>
		</aside>

		<!-- All Space -->
		<!-- Image Grid -->
		<div class="grid-masonry fill-both">
			<img class="border" src="{{ page.header-A }}" alt="">
			<img class="border" src="{{ page.header-B }}" alt="">
			<img class="border" src="{{ page.header-C }}" alt="">
			<img class="border" src="{{ page.header-D }}" alt="">
			<img class="border" src="{{ page.header-E }}" alt="">
		</div>

	</section>

<!-- # Misc Design Icons -->
	<section class="section-default block">
		<h3>Misc</h3>
		<p><strong>Spot Illustrations</strong></p>
		<div class="grid-four">
			<img src="{{ page.spot-image-A }}" alt="">
			<img src="{{ page.spot-image-B }}" alt="">
			<img src="{{ page.spot-image-C }}" alt="">
			<img src="{{ page.spot-image-D }}" alt="">
		</div>
	</section>

<!-- # Final Look -->
	<section class="section-default grid-three-fit">
		<!-- 1/2 Space -->
		<aside>
			<h2>{{ page.C-title }}</h2>
			<h3>{{ page.C-subtitle }}</h3>
			<p>{{ page.C-p }}</p>
			
			<img class="border" src="{{ page.C-image-A }}" alt="">
		</aside>

		<!-- 1/2 Space -->
		<div>
			<img class="border" style="margin-bottom: 40px" src="{{ page.C-image-B }}" alt="">
			<img class="border" src="{{ page.C-image-C }}" alt="">
		</div>

	</section>

	{% include section-cta-a.html %}
</div>

{% include footer.html %}