{% include header.html %}
{% include nav.html %}

<main id="product">
	
	<div class="pad m-margin">
		<h4 style="margin: 0px;">The Skymouse Marketing Launchpad</h4>
		<h1>Drive web traffic that converts.</h1>
	</div>

	<section class="grid-half">
		
		<div class="content" style="padding-right: 40px;">
			<h3>Stop planning. Start selling.</h3>

			<p class="big-quote">“I know I should be selling online, but I don’t have the time to set up a funnel.”</p>

			<p class="big-quote">“I have plenty of site traffic, but no idea how to convert them into paying customers.”</p>

			<p class="big-quote">“I know Facebook Ads work, but I’m too busy to start an ad campaign."</p>

			<p class="big-quote">“I could be using digital marketing to sell more, but I have too much on my plate to get started.”</p>
		</div>

		<div class="card">
			<img class="icon-size" src="{{ site.url }}{{ page.img }}" alt="">
			<h3>{{ page.title }}</h3>
			<p>{{ page.description }}</p>
			<p>We do the work of targeting your customers, planning an ad campaign, and making a landing page that converts.</p>

			<p><strike>Total Value: $4,135</strike> October Pricing: $1,750</p>
			<p><strong>Join the September 2018 program to start seeing results.</strong></p>

			<button class="action-btn snipcart-add-item">
			        Sign up now! >
			</button>
			
			<div class="pad-top"></div>
		</div>
	</section>

	<div class="text-center pad">
		<img style="width: 50px;" class="animation-hover" src="/library/images/icons/arrow-down.svg" alt="Scroll Down Arrow">
	</div>
	
	<section class="block pad-top m-margin">	
		<div class="section-heading">
			<h4>A team you can trust</h4>
			<h3>Past clients</h3>
		</div>
		
		<div class="pricing-grid">
			<section class="card">
				<h3 style="text-align: center;">"⭐️⭐️⭐️⭐️⭐️"</h3>
				<p>“Patrick and his team at Skymouse have been communicative, on-time, and helpful in making improvements that we hadn’t seen. That’s to say, working with Skymouse is like working with humans! Recommend!”
				</p>  
				<p class="client"><strong>James Baxter</strong><br>Exodus 90</p>
			</section>

			<section class="card">
					<h3 style="text-align: center;">"⭐️⭐️⭐️⭐️⭐️"</h3>
					<p>“While I was working for Brunette & Associates, I reached out to Skymouse Studios… the team was very responsive and great to work with!” 
					<br>
					<br>
					<br>
					</p>  
					<p class="client"><strong>Michelle Kelly</strong><br>Brunette & Associates</p>
			</section>

			<section class="card">
				<h3 style="text-align: center;">"⭐️⭐️⭐️⭐️⭐️"</h3>
				<p>“I had a great experience working with Skymouse Studios… I found them to be hardworking, good communicators, and consistent. I would highly recommend them and I plan on using them in future projects.” 
				</p>  
				<p class="client"><strong>Dave Marcotte</strong><br>Archdiocese of Indianapolis</p>
			</section>
		</div>
	</section>

	<div class="text-center pad-top">
		<img style="width: 50px;" class="animation-hover" src="/library/images/icons/arrow-down.svg" alt="">
	</div>

	<section class="blank">
		<div class="section-heading">
			<h4>What's included</h4>
			<h3>Start growing your business</h3>
		</div>
		
		<div class="content">
			<div class="pricing-grid list">
				<section class="card">
					<img class="icon-center" src="{{ site.url }}/library/images/icons/icon-website.svg" alt="">
					<p>“Done 4 You” sales page designed to convert traffic into revenue.</p></section> 
				<section class="card">
					<img class="icon-center" src="{{ site.url }}/library/images/icons/icon-manage.svg" alt="">
					<p>Managed Facebook Ad campaign optimized to drive your ideal customer to your sales page. </p></section> 
				<section class="card">
					<img class="icon-center" src="{{ site.url }}/library/images/icons/icon-heart.svg" alt="">
					<p>Experience building your perfect customer avatar to enable higher conversion rates.</p></section> 
				<section class="card">
					<img class="icon-center" src="{{ site.url }}/library/images/icons/icon-plan.svg" alt="">
					<p>Expert marketing knowledge on how to find, engage, and win new customers.</p></section>  
				<section class="card">
					<img class="icon-center" src="{{ site.url }}/library/images/icons/icon-social.svg" alt="">
					<p>Sales copy custom-written for your unique product and industry.</p></section> 
				<section class="card">
					<img class="icon-center" src="{{ site.url }}/library/images/icons/icon-contract.svg" alt="">
					<p>Layout and design fit to your brand and target customers.</p></section>  
				<section class="card">
					<img class="icon-center" src="{{ site.url }}/library/images/icons/icon-optimize.svg" alt="">
					<p>Consultation on your brand image, strategy, and messaging.</p></section>  
				<section class="card">
					<img class="icon-center" src="{{ site.url }}/library/images/icons/icon-search.svg" alt="">
					<p>Clear vision for growing your business.</p></section>  
			</div>
		</div>
	</section>

	<div class="text-center pad">
		<img style="width: 50px;" class="animation-hover" src="/library/images/icons/arrow-down.svg" alt="">
	</div>

	<section class="block">
		<div class="section-heading">
			<h4>What to expect</h4>
			<h3>Project Timeline</h3>
		</div>

		
		<div class="timeline grid-half">
		
			<ul>
				<li><strong>Week 1:</strong></li>
				<li>Create perfect customer avatar</li>
				<li>Develop value proposition</li>
				<li>Write sales page copy</li>
			</ul>

			
			<ul>
				<li><strong>Week 2:</strong></li>
				<li>Build sales page</li>
				<li>Jekyll development</li>
				<li>Forestry.io integration</li>
				<li>Setup payment portal</li>
			</ul>

			
			<ul>
				<li><strong>Week 3:</strong></li>
				<li>Create Facebook Ad</li>
				<li>Target customer avatar</li>
				<li>Launch Facebook Ad</li>
			</ul>

			
			<ul>
				<li><strong>Week 4:</strong></li>
				<li>Review results</li>
				<li>Plan next steps</li>
			</ul>

		</div>
		
	</section>

	<div class="text-center pad">
		<img style="width: 50px;" class="animation-hover" src="/library/images/icons/arrow-down.svg" alt="Scroll Down Arrow">
	</div>

	<section class="card guarantee-center card-center pad">
		<h3>Sieze the moment.</h3>
		<button class="action-btn">
		        Sign up now! >
		</button>
	</section>
	
	<section class="grid-half card">
		
		<div class="content">
			<h4>Meet the Team</h4>

			<div class="profile grid-half pad">
				<img class="icon-size" src="{{ site.url }}/library/images/profile/johns-profile-s-round.png" alt="John Welch's Profile Picture">
			
				<div>
					<h5>John Welch</h5>
					<p>Sales Rep, Father, Chef Extrodinaire.</p>
				</div>
			</div>
		

			<div class="profile grid-half pad">
				<img class="icon-size" src="{{ site.url }}/library/images/profile/patricks-profile-s-round.png" alt="Patrick Hanus's profile picture">
			
				<div>
					<h5>Patrick Hanus</h5>
					<p>Developer, Illustrator, Writer.</p>
				</div>
				
			</div>
		</div>

		<div class="content">
			<h4>Why did we create this offer?</h4> 

			<h5>We're tired of marketing firms taking businesses for a ride.</h5>
			<p>Everyone is asking about how to increase sales revenue and grow their business, but all the marketing companies are making it seem so difficult and time-consuming.</p>
			
			<h5>Businesses need a simple way to increase sales online.</h5>
			<p>We take you, step-by-step, through the process you need to start driving traffic to your site and converting it to real-world sales revenue. The best part is, we’re right here beside you the whole way. This is a real-life, person-to-person relationship we’re starting. We do the hard work. All you have to do is bring your passion for helping your customers and a commitment to investing in your business’s future.
			</p>
		</div>
		
	</section>

	<section class="grid-half blank pad">
		<div class="content">
			<h2>What does it cost?</h2>
			<ul>
				<li>Custom Landing Page <span>($950 value)</span></li>
				<li>Website optimization <span>($425 value)</span></li>
				<li>Brand Consulting <span>($1000 value)</span></li>
				<li>Sales Copywriting <span>($760 value)</span></li>
				<li>Ad Layout Design <span>($500 value)</span></li>
				<li>Campaign Management <span>($500 value)</span></li>
			</ul>

			<h4>Total Value: $4,135</h4>

			<button class="action-btn snipcart-add-item">Sign up now! >
			</button>
		</div>
		
		<section class="card card--orange">
			<h3>The Skymouse Guarantee</h3>
		
			<p>It’s hard to know if you’re making the right choice. </p>
			<p>That’s why we offer our <strong>100% money-back guarantee.</strong> If you are not satisfied with our work at the end of our 30 day process, we will refund you your original purchase amount in full.</p>
		</section>
	</section>

</main>

{% include footer.html %}