{% include header.html %}

<script>
  fbq('track', 'ViewContent', {
    value: 20,
    currency: 'USD',
  });
</script>

<main id="product">
	<a class="nav-button" href="/pricing.html">&larr; Back to Pricing</a>
	
	<div class="pad-top m-margin">
		<h1>Drive web traffic that converts.</h1>
		<h4>The Skymouse Marketing Launchpad</h4>
	</div>

	<section class="grid-half card card--orange">
		<div class="content">
			<div class="pad-top">
				<h2>Stop planning. Start selling.</h2>
			</div>

			<p class="big-quote">“I know I should be selling online, but I don’t have the time to set up a funnel.”</p>

			<p class="big-quote">“I have plenty of site traffic, but no idea how to convert them into paying customers.”</p>

			<p class="big-quote">“I know Facebook Ads work, but I’m too busy to start an ad campaign."</p>

			<p class="big-quote">“I could be using digital marketing to sell more, but I have too much on my plate to get started.”</p>

		<h2>Sound like you?</h2>

		</div>

		<div class="content">
			<img src="{{ site.baseurl }}{{ page.img }}" alt="">
			<h3>{{ page.title }}</h3>
			<p>{{ page.description }}</p>
			<p>We do the work of targeting your customers, planning an ad campaign and making a landing page that converts.</p>
			<p><strong>Join the September 2018 program to start see results.</strong></p>
			<a class="action-btn" href="/checkout.html">Sign up now! ></a>
		</div>
	</section>


	<div class="pad-top m-margin">	
		<h2 class="text-center">Testimonials</h2>
		<div class="pricing-grid">
			<section style="" class="card">
				<blockquote>
					“Patrick and his team at Skymouse have been communicative, on-time, and helpful in making improvements that we hadn’t seen. That’s to say, working with Skymouse is like working with humans! Recommend!”
				</blockquote>  
				<p style="text-align: center;">- James Baxter, CEO, Exodus 90</p>
			</section>

			<section style="display: flex; align-items: center" class="card">
				<div>
					<blockquote>
					“While I was working for Brunette & Associates, I reached out to Skymouse Studios… the team was very responsive and great to work with!” 
					</blockquote>  
					<p style="text-align: center;">- Michelle Kelly, Brunette & Associates</p>
				</div>
				
			</section>

			<section style="" class="card">
				<blockquote>
					“I had a great experience working with Skymouse Studios… I found them to be hardworking, good communicators, and consistent. I would highly recommend them and I plan on using them in future projects.” 
				</blockquote>  
				<p style="text-align: center;">- Dave Marcotte, Archdiocese of Indianapolis</p>
			</section>
		</div>
	</div>

	<section class="card" style="">
		<div class="pad-top"></div>
		<h3>Don't wait.</h3>
		<a href="/checkout.html" class="action-btn">{{ page.call-to-action }} Risk free.</a>
		<div class="pad-top"></div>
	</section>

	<section class="blank">
		<div class="content">
			<div class="pad-top m-margin">
				<h2>Here’s what you’re getting</h2>
			</div>
				
			<div class="pricing-grid list">
				<section class="card">
					<img class="icon-center" src="{{ site.baseurl }}/library/images/icons/icon-website.svg" alt="">
					<p>“Done 4 You” sales page designed to convert traffic into revenue.</p></section> 
				<section class="card">
					<img class="icon-center" src="{{ site.baseurl }}/library/images/icons/icon-manage.svg" alt="">
					<p>Managed Facebook Ad campaign optimized to drive your ideal customer to your sales page. </p></section> 
				<section class="card">
					<img class="icon-center" src="{{ site.baseurl }}/library/images/icons/icon-heart.svg" alt="">
					<p>Experience building your perfect customer avatar to enable higher conversion rates.</p></section> 
				<section class="card">
					<img class="icon-center" src="{{ site.baseurl }}/library/images/icons/icon-plan.svg" alt="">
					<p>Expert marketing knowledge on how to find, engage, and win new customers.</p></section>  
				<section class="card">
					<img class="icon-center" src="{{ site.baseurl }}/library/images/icons/icon-social.svg" alt="">
					<p>Sales copy custom-written for your unique product and industry.</p></section> 
				<section class="card">
					<img class="icon-center" src="{{ site.baseurl }}/library/images/icons/icon-contract.svg" alt="">
					<p>Layout and design fit to your brand and target customers.</p></section>  
				<section class="card">
					<img class="icon-center" src="{{ site.baseurl }}/library/images/icons/icon-optimize.svg" alt="">
					<p>Consultation on your brand image, strategy, and messaging.</p></section>  
				<section class="card">
					<img class="icon-center" src="{{ site.baseurl }}/library/images/icons/icon-search.svg" alt="">
					<p>Clear vision for growing your business.</p></section>  
			</div>
			
			<div class="pad-top">
				<section class="card card--orange guarantee-center">
					<img class="logo-center" src="/library/images/logos/skymse-logo.svg" alt="Skymouse Logo">
					<h3>The Skymouse Guarantee</h3>
				
					<p>It’s hard to know if you’re making the right choice. </p>
					<p>That’s why we offer our <strong>100% money-back guarantee.</strong> If you are not satisfied with our work at the end of our 30 day process, we will refund your original purchase amount in full.</p>
				</section>
			</div>
		</div>
	</section>

	<section class="blank" style="">
		<h2 class="text-center">Timeline</h2>
		<div class="timeline">
			<div class="text-center">
				<h3>Here's the process we’ll take you through in our Skymouse Marketing Launchpad.</h3>
			</div>	
			
			<div class=" grid-half">
				
				<ul>
					<p><strong>Week 1:</strong></p>
				  <li>Create perfect customer avatar</li>
				  <li>Develop value proposition and call-to-action</li>
				  <li>Write sales page copy</li>
				</ul>

				
				<ul>
					<p><strong>Week 2:</strong></p>
				  <li>Build sales page</li>
				  <li>Jekyl development</li>
				  <li>Forestry.io integration</li>
				  <li>Setup payment portal</li>
				</ul>

				
				<ul>
					<p><strong>Week 3:</strong></p>
				  <li>Create Facebook Ad</li>
				  <li>Target perfect customer avatar</li>
				  <li>Launch Facebook Ad</li>
				</ul>

				
				<ul>
					<p><strong>Week 4:</strong></p>
				  <li>Review results</li>
				  <li>Create recommendations for next steps</li>
				</ul>

			</div>
		</div>
	</section>

	<div class="pad-top">
		<section class="card guarantee-center">
			<h3>Sieze the moment.</h3>
			<a href="/checkout.html" class="action-btn">{{ page.call-to-action }}</a>
		</section>
	</div>
	
	<section class="grid-half card">
		
		<div class="content">
			<div class="pad-top">
				<h2>Meet the Team</h2>	
			</div>
			<div class="profile">
				<img style="width: 40%" src="{{ site.baseurl }}/library/images/profile/johns-profile.jpg" alt="John Welch's Profile Picture">
				<div class="bio">
					<p><strong>John Welch</strong></p><br>
					<p>Sales Rep, Father, Chef Extrodinaire.</p>
				</div>
			</div>
		

			<div class="profile">
				<img style="width: 40%" src="{{ site.baseurl }}/library/images/profile/patricks-profile.jpg" alt="Patrick Hanus's profile picture">
				<div class="bio">
					<p><strong>Patrick Hanus</strong></p><br>
					<p>Developer, Illustrator, Writer.</p>
				</div>
			</div>
		</div>

		<div class="content">
			<h3>Why did we create this offer?</h3> 

			<h5>We got tired of marketing companies taking businesses for a ride.</h5>
			<p>Everyone is asking about how to increase sales revenue and grow their business, but all the marketing companies are making it seem so difficult and time-consuming. By hiding behind vague terms like “SEO,” “Content Strategy,” and “Social Media Marketing,” the marketing industry has made digital marketing seem like some sort of labyrinth that only the chosen few can successfully navigate.</p>
			
			<h5>Businesses need a simple, straightforward way to increase sales online.</h5>
			<p>That’s what we’ve put together with the Skymouse Marketing Launchpad. We take you, step-by-step, through the process you need to start driving traffic to your site and converting it to real-world sales revenue. The best part is, we’re right here beside you the whole way. This is not some video course with screen-captures and inspiration videos. This is a real-life, person-to-person relationship we’re starting. We do the hard work, all you have to do is bring your passion for helping your customers and a commitment to investing in your business’s future.
			</p>
		</div>
		
	</section>

	<div class="pad-top">

	<section class="grid-half blank super-list">
		<div class="content">
			<h2>What does it cost?</h2>
			<ul>
				<li>Custom Landing Page <span>($950 value)</span></li>
				<li>Website optimization <span>($425 value)</span></li>
				<li>Brand Consulting <span>($1000 value)</span></li>
				<li>Sales Copywriting <span>($760 value)</span></li>
				<li>Ad Layout Design <span>($500 value)</span></li>
				<li>Campaign Management <span>($500 value)</span></li>
				<p class="big-quote">Total Value: $4,135</p>
				<p><strong>September Earlybird Pricing: $1,750</strong></p>
			</ul>
			<a href="/checkout.html" class="action-btn">< {{ page.call-to-action }} ></a>
		</div>
		
		<section style="align-self: center; margin-top: 30px;" class="card card--orange">
			<img class="logo-center" src="/library/images/logos/skymse-logo.svg" alt="Skymouse Logo">
			<h3>The Skymouse Guarantee</h3>
		
			<p>It’s hard to know if you’re making the right choice. </p>
			<p>That’s why we offer our <strong>100% money-back guarantee.</strong> If you are not satisfied with our work at the end of our 30 day process, we will refund you your original purchase amount in full.</p>
		</section>
	</section>
	</div>

	</div>
	
		
	</div>
	


</main>

{% include footer.html %}