<!-- default.html -->

{% include header.html %}

<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
             
    <div class="bg-image"></div>

	<div id="inner-header" class="wrap cf">

		<a href="index.html" rel="nofollow">
		<img alt="Skymouse Studios Logo" src="{{ site.baseurl }}/library/images/skymse-logo.svg"></a>

		<div id="menu-burger">
			<i class="icon-menu"></i>
		</div>
		
		<div id="searchicon">		
		</div>

		<nav id="mobile-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<ul class="cf">
	          		{% for link in site.links %}
			            <li>
			              <a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
			            </li>
	          		{% endfor %}
	        	</ul>
			</nav>

		<nav id="desktop-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="cf">
          		{% for link in site.links %}
		            <li>
		              <a class="nav-button" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
		            </li>
          		{% endfor %}
        	</ul>
		</nav>

	</div> 
	
	<div class="pad cf">
		<div class="hero d-all t-all m-all">
			<h1>{{ page.title }}</h1>
            <p class="kill-margin h2">{{ page.subtitle }}</p>
		</div>
	</div>

</header>

<div class="wrapper">
	<div class="one"></div>
	{{ content }}
	<div class="three"></div>
</div>

{% include footer.html %}