---
layout: page
---

{% include header.html %}

<div id="post">
  
  <section class="blank">
    <h2>{{ page.title }}</h2>
  
    <div class="post-info-wrapper">
      
      
      {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}

      <div class="time-to-read">4 Minutes of Quality Reading 👌</div>
      
      <div class="blog-image">
            <img src="{{ post.img }}" alt="{{ post.title }}">
      </div>
    </div>
  </section>

    <img class="blog-image" src="{{ page.img }}" alt="">

  <section class="blank">
    {{ content }}
  </section>
    
    
</div>

{% include footer.html %}