{% include header.html %}
{% include nav.html %}

<main id="product">
	<a class="nav-button" href="/pricing.html">&larr; Back to Pricing</a>
		<div class="pricing-grid">
			<section class="card m-hide" style="grid-row: 1 / 4;"></section>
			<section class="card card--orange grid-top">
				<div class="content">
					<img src="{{ site.url }}{{ page.img }}" alt="">

					<h2>{{ page.title }}</h2>
					
					<p>{{ page.description }}</p>
					
					<ul>
						<li>{{ page.item-1 }}</li>
						<li>{{ page.item-2 }}</li>
						<li>{{ page.item-3 }}</li>
						<li>{{ page.item-4 }}</li>
						{{ page.price }}
					</ul>
				</div>
			</section>
			<section class="card m-hide" style="grid-row: 1 / 4;"></section>

			<section class="card grid-top">
				<div class="pad-top"></div>
				<h3>Don't wait.</h3>
				<a href="{{ page.cta-link }}" class="action-btn">{{ page.call-to-action }}</a>
				<div class="pad-top"></div>
			</section>

			<section class="card grid-bottom">
			<div class="timeline">
				<h3>Timeline</h3>
				{{ content }}
			</div>
			</section>

			<section class="card m-hide" style="grid-column: 1 / 5;"></section>
			
			<section class="card" style="grid-column: 2 / 4;">
				<div class="content">
					<img src="{{ site.url }}/library/images/icons/icon-across-devices.svg" alt="">
					<h2>Want to start on your own?</h2>
					<p>Get started with our 7 Steps to boosting your brand and making more money, a free eCourse. Because we love you.</p>
				</div>
				{% include mailchimp-boosting-brand.html %}
				<div class="pad-top"></div>
			</section>
		</div>
</main>

{% include footer.html %}