{% include header.html %}

<main id="product">
	<a class="nav-button" href="/pricing.html">&larr; Back to Pricing</a>
	
	
		<div class="pricing-grid">
			<section class="card one">
				<div class="content">
					<img src="{{ site.baseurl }}{{ page.img }}" alt="">

					<h2>{{ page.title }}</h2>
					
					<p>{{ page.description }}</p>
					
					<ul>
						<li>+ 1 month engagement</li>
						<li>+ Full access to the Skymouse Team</li>
						<li>+ 10 hours</li>
						<li>+ Website review</li>
						{{ page.price }}
					</ul>
				</div>
			</section>

			<section class="card three">
				<div class="pad-top"></div>
				<a class="drift-open-chat action-btn">{{ page.call-to-action }}</a>
			</section>

			<section class="card two">
			<div class="timeline">
				<h3>Timeline</h3>
				{{ content }}
			</div>
			</section>
		</div>
	
</main>

{% include footer.html %}